<div class="row">
  <div class="small12">
    <h2>Success</h2>
    <table>
      {% for key, value in data.items %}
        <tr>
          <td>
            {{ key }}
          </td>
          <td>
            {{ value }}
          </td>
        </tr>
        {% endfor %}
    </table>
  </div>
  <div class="small12">
    <a href="/gateway">Home</a>
  </div>
</div>
