<!DOCTYPE html>
<html>
<head>
  <title>EbsPayment</title>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.css">


</head>
<body>
  <div class="row">
    <div class="small12">
      <h2>E-Billing Solutions Pvt Ltd - Payment Page</h2>
      <div class="panel">
        <form action="/gateway/prepare_hash" method="post">
          {% csrf_token %}
          {{ form }}
          <input type="submit" value="Get Summary" class="button expand" />
        </form>
      </div>

    </div>
  </div>

</body>
</html>
