<div class="row">
  <div class="small12">
    <h2>E-Billing Solutions Pvt Ltd - Payment Page</h2>
      <table>
      <tbody><tr><td>account_id</td><td>{{ data.account_id }}</td></tr>
      <tr><td>address</td><td>{{ data.address }}</td></tr>
      <tr><td>amount</td><td>{{ data.amount }}</td></tr>
      <tr><td>bank_code</td><td>{{ data.bank_code }}</td></tr>
      <tr><td>card_brand</td><td>{{ data.card_brand }}</td></tr>
      <tr><td>channel</td><td>{{ data.channel }}</td></tr>
      <tr><td>city</td><td>{{ data.city }}</td></tr>
      <tr><td>country</td><td>{{ data.country }}</td></tr>
      <tr><td>currency</td><td>{{ data.currency }}</td></tr>
      <tr><td>description</td><td>{{ data.description }}</td></tr>
      <tr><td>email</td><td>{{ data.email }}</td></tr>
      <tr><td>emi</td><td></td><td>{{ data.emi }}</td></tr>
      <tr><td>mode</td><td>{{ data.mode }}</td></tr>
      <tr><td>name</td><td>{{ data.name }}</td></tr>
      <tr><td>page_id</td><td></td><td>{{ data.page_id }}</td></tr>
      <tr><td>payment_mode</td><td>{{ data.payment_mode }}</td></tr>
      <tr><td>payment_option</td><td>{{ data.payment_option }}</td></tr>
      <tr><td>phone</td><td>{{ data.phone }}</td></tr>
      <tr><td>postal_code</td><td>{{ data.postal_code }}</td></tr>
      <tr><td>reference_no</td><td>{{ data.reference_no }}</td></tr>
      <tr><td>return_url</td><td>{{ data.return_url }}</td></tr>
      <tr><td>ship_address</td><td>{{ data.ship_address }}</td></tr>
      <tr><td>ship_city</td><td>{{ data.ship_city }}</td></tr>
      <tr><td>ship_country</td><td>{{ data.ship_country }}</td></tr>
      <tr><td>ship_name</td><td>{{ data.ship_name }}</td></tr>
      <tr><td>ship_phone</td><td>{{ data.ship_phone }}</td></tr>
      <tr><td>ship_postal_code</td><td>{{ data.ship_postal_code }}</td></tr>
      <tr><td>ship_state</td><td>{{ data.ship_state }}</td></tr>
      <tr><td>state</td><td>{{ data.state }}</td></tr>
      <td>secure_hash</td><td> {{ token }}</td></tr></tbody></table>
      <form action="https://secure.ebs.in/pg/ma/payment/request" name="payment" method="POST">
        {{ form }}
        <!-- <input type="submit" value="Submit" class="button expand" /> -->
        <button onclick="document.payment.submit();"> SUBMIT </button>
      </form>


  </div>
</div>
