.pk-field {
	width:calc(100% - 16px);
	float:left;
	cursor:pointer;			
	padding:3px;
	border-radius:5px;
}

.pk-field.-multiple{
	cursor:text;
}

.pk-arrow{
	position:absolute;
	cursor:pointer;			
	right:-2px;
	bottom:0;
	text-align:center;	
	width:30px;	
	padding-bottom:3px;	
	font-family:Arial;
	border-radius:0 5px 5px 0;			
}

.pk-arrow:before{
	transform: rotate(90deg);	
	font-size:25px;	
	position:relative;
	content:'›';
	margin:5px 0 0 13px;
	float:left;
}

.pk-overlay {
	width:100%;
	height:100%;
	position:fixed;
	background:#666;
	background:rgba(0,0,0,0.4);
	top:0;
	left:0;
	opacity:0;
	visibility:hidden;
	z-index:1110;
	transition:opacity .3s;
}

.pk-overlay.-show {
	opacity:1;
	visibility:visible;
}

.pk-modal {
	transform: translateX(-50%) scale(0.8,0.8);
	left:50%;
	top:10px;
	border-radius:6px;
	position:fixed;
	width:280px;
	z-index:1111;			
	transition: all .3s;
	visibility:hidden;		
	background:#f2f2f2;
	opacity:0;
}

.pk-modal > .main{
	list-style:none;
	max-height:60vh;
	position:relative;
	overflow-y:auto;
	width:100%;
	margin:0;
}

@media(max-width: 480px) {
	.pk-modal > .main{
		max-height:70vh;
	}
}

.pk-modal > .head{
	width:calc(100% - 20px);
	font-size:18px;
	padding:20px 10px;
	border-radius: 4px 4px 0 0;
}

.pk-modal.-show {
	transform: translateX(-50%) scale(1,1);
	visibility:visible;		
	opacity:1;
	box-shadow:0 30px 10px -20px #777;
}

.pk-search{
	display:none;
}

.pk-search.-show{
	display:block;
}

.pk-search > input{
	width:calc(100% - 22px);
	padding:8px 4px;
	margin:6px;
	border:1px solid #ddd;
}

.pk-no_result_search{
	padding:10px;
	font-size:14px;
}

.pk-modal > .close{
	position:absolute;
	top:18px;
	right:15px;
	color:#ccc;	
	font-size:22px;	
	cursor:pointer;
}

.pk-option, .pk-option-group{
	cursor:pointer;
	padding:14px 10px;
	width:calc(100% - 20px);	
	border-bottom:1px solid #efefef;
	position:relative;
}

.pk-option:last-child{
	border:none;
}

.pk-option.-selected:last-child{
	border-radius: 0 0 4px 4px;	
}

.pk-option-group{
	cursor:auto;
	font-weight: bold;
	font-size:13px;
	letter-spacing:1px; 
}

.pk-option-group:not(:first-child){
	margin-top:14px;	
}

.pk-option > .icon:not(:empty){
	width:16px;
	margin-right:10px;
	color:#ccc;
	font-size:20px;
	float:left;
	margin-top:-3px;
	text-align:center;
}

.pk-option > .txt{	
	font-size:14px;
	font-weight:300;
	letter-spacing:1.2px;
}

.pk-multiple{
	position:relative;
	float:left;
	width:100%;
	display:none;
}

.pk-multiple.-show{
	display:block;
}

.pk-btnMultiply{
	background: none;
	border:none;	
	margin-top:10px;
	width:100%;
	padding-top:16px;
	padding-bottom:18px;
	cursor:pointer;
	letter-spacing:1px;
	font-weight:bold;
	border-radius:0 0 3px 3px;
}

.pk-circle{
	position:absolute;
	width:10px;
	height:10px;
	border-radius:50%;
	margin-top:2px;
	right:12px;
}

.pk-option.-selected > .pk-circle{
	background: #999;
}

.pk-tag{
	float:left;
	cursor:pointer;
	margin-bottom:6px;
}

.pk-tag > .txt{
	float:left;
  	padding:6px;
	padding-right:22px;
	border-radius:6px;
	position:relative;
}

.pk-tag > .txt:before{
	content:'';
	border:19px solid transparent;
	position:absolute;
	right:-2px;
	top:-3px;
}

.pk-tag > .close{
	float:left;
	margin:6px 0 5px;
	position:relative;
	left:-8px;
	font:700 16px Arial;
	padding:0 5px;
	border-radius:50%;
}

/* CLEAN
---------------------------------*/
.pk-field.-clean{
	background:#fff;
	border:1px solid #eee;
	font:inherit;
}

.pk-arrow.-clean{
	background:#eee;
	color:#aaa;			
}

.pk-field.-clean:hover + .pk-arrow, .pk-arrow.-clean:hover{
	background:#dfdfdf;
	color:#aaa;			
}

.pk-modal.-clean{
	background:#fff;
}

.pk-modal.-clean > .head{
	color:#666;
	background:#efefef;
}

.pk-option.-clean:not(:last-child){	
	border-bottom:1px solid #efefef;
}

.pk-option.-clean:hover, .pk-option.-clean.-selected{
	border-radius: 0 0 4px 4px;	
	background:#f2f2f2;			
}

.pk-no_result_search.-clean{
	color:#666;
}

.pk-btnMultiply.-clean{
	background:#1abc9c;
	color:#fff;
}

.pk-btnMultiply.-clean:hover{
	background:#16a085;
}

.pk-circle.-clean{
	border-color:#ddd;
	border:1px solid #ccc;	
}

.pk-option.-selected > .pk-circle.-clean{
	background:#1abc9c;
	border:2px solid #fff;
}

.pk-tag > .txt{
	background:#eeeeee;
	color:#999;
}

.pk-tag.-clean > .txt:before{
	border-right-color: #fff;
}

.pk-tag.-clean > .close{
	background:#efefef;
	color:#bbb;
}

.pk-tag.-clean > .close:hover{
	background:#ddd;
	color:#666;
}