body{text-align:center;}
.head{font-family:'Orbitron', sans-serif;letter-spacing:3px;}
.wht{color:white;}
.cent{text-align:center;}
.rale{font-family:'Raleway', sans-serif;}
.xl{font-size:x-large;}
.extra-space-l{width:100%;height:40px;}
.mar{margin:0 auto;}
.up{text-transform:uppercase;}
.non{text-decoration:none;}
.left{float:left;}
.right{float:right;}
.bodright{border-right: 1px solid grey;}
#text-carousel-intro-section{height:100%;}
#text-carousel-intro-section .container{height:100%;}
#text-carousel-intro-section .caption{position:relative;top:50%;}
#text-carousel-intro-section .caption h1{margin-top:0;margin-bottom:5px;font-size:60px;text-transform:uppercase;text-shadow:1px 1px 1px rgba(0,0,0,0.3);}
#text-carousel-intro-section .caption p{letter-spacing:2px;font-size:16px;}
.owl-carousel{cursor:e-resize;}
.owl-theme .owl-controls{margin-top:30px;}
.owl-theme .owl-controls .owl-page span{background:rgba(0, 0, 0, 0);width:14px;height:14px;border:3px solid #fff;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{background:rgba(0, 0, 0, 0);border:3px solid #fff;}
.owl-buttons{position:absolute;top:50%;margin-top:-25px;width:100%;}
.owl-theme .owl-controls .owl-buttons div{position:absolute;width:100px;height:100px;line-height:100px;margin:0;text-align:center;background:transparent;opacity:1;}
.owl-theme .owl-controls.clickable .owl-buttons div:hover{opacity:.5;}
.owl-next{background-image:url(../img/arrow-right.png) !important;background-repeat:no-repeat !important;background-position:center !important;right:0;}
.owl-prev{background-image:url(../img/arrow-left.png) !important;background-repeat:no-repeat !important;background-position:center !important;left:0;}
*, *:after, *:before{-webkit-box-sizing:border-box;box-sizing:border-box;}
.clearfix:before, .clearfix:after{display:table;content:'';}
.clearfix:after{clear:both;}
.content a{outline:none;color:#3498db;text-decoration:none;}
.content a:hover, a:focus{color:#528cb3;}
.content section{padding:1em;text-align:center;}
.content{margin:0 auto;max-width:1000px;}
.content > h2{clear:both;margin:0;padding:4em 1% 0;color:#484B54;font-weight:800;font-size:1.5em;}
.content > h2:first-child{padding-top:0em;}
.grid{position:relative;margin:0 auto;padding:1em 0 4em;max-width:1000px;list-style:none;text-align:center;}
.grid figure{position:relative;float:left;overflow:hidden;margin:10px 1%;min-width:320px;max-width:480px;max-height:360px;width:48%;background:#3085a3;text-align:center;cursor:pointer;}
.grid figure img{position:relative;display:block;min-height:100%;max-width:100%;opacity:0.8;}
.grid figure figcaption{padding:2em;color:#fff;text-transform:uppercase;font-size:1.25em;-webkit-backface-visibility:hidden;backface-visibility:hidden;}
.grid figure figcaption::before,
.grid figure figcaption::after{pointer-events:none;}
.grid figure figcaption,
.grid figure figcaption > a{position:absolute;top:0;left:0;width:100%;height:100%;}
.grid figure figcaption > a{z-index:1000;text-indent:200%;white-space:nowrap;font-size:0;opacity:0;}
.grid figure h2{word-spacing:-0.15em;font-weight:300;}
.grid figure h2 span{font-weight:800;}
.grid figure h2,
.grid figure p{margin:0;}
.grid figure p{letter-spacing:1px;font-size:68.5%;}
figure.effect-sarah{background:#3085a3;}
figure.effect-sarah img{max-width:none;width:-webkit-calc(100% + 20px);width:calc(100% + 20px);-webkit-transition:opacity 0.35s, -webkit-transform 0.35s;transition:opacity 0.35s, transform 0.35s;-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0);-webkit-backface-visibility:hidden;backface-visibility:hidden;}
figure.effect-sarah:hover img{opacity:0.4;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
figure.effect-sarah figcaption{text-align:left;}
figure.effect-sarah h2{position:relative;overflow:hidden;padding:0.5em 0;}
figure.effect-sarah h2::after{position:absolute;bottom:0;left:0;width:100%;height:3px;background:#fff;content:'';-webkit-transition:-webkit-transform 0.35s;transition:transform 0.35s;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);}
figure.effect-sarah:hover h2::after{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
figure.effect-sarah p{padding:1em 0;opacity:0;-webkit-transition:opacity 0.35s, -webkit-transform 0.35s;transition:opacity 0.35s, transform 0.35s;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);}
figure.effect-sarah:hover p{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
figure.effect-ruby{background-color:#17819c;}
figure.effect-ruby img{opacity:0.7;-webkit-transition:opacity 0.35s, -webkit-transform 0.35s;transition:opacity 0.35s, transform 0.35s;-webkit-transform:scale(1.15);transform:scale(1.15);}
figure.effect-ruby:hover img{opacity:0.5;-webkit-transform:scale(1);transform:scale(1);}
figure.effect-ruby h2{margin-top:20%;-webkit-transition:-webkit-transform 0.35s;transition:transform 0.35s;-webkit-transform:translate3d(0,20px,0);transform:translate3d(0,20px,0);}
figure.effect-ruby p{margin:1em 0 0;padding:3em;border:1px solid #fff;opacity:0;-webkit-transition:opacity 0.35s, -webkit-transform 0.35s;transition:opacity 0.35s, transform 0.35s;-webkit-transform:translate3d(0,20px,0) scale(1.1);transform:translate3d(0,20px,0) scale(1.1);}
figure.effect-ruby:hover h2{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
figure.effect-ruby:hover p{opacity:1;-webkit-transform:translate3d(0,0,0) scale(1);transform:translate3d(0,0,0) scale(1);}
.pwdopsdiv{display:block;margin-right:6px;}
.pwdstrengthbar{float:right;background:#cccccc;height:4px;margin:0;}
.pwdstrength{float:right;height:20px;width:70px;margin-top:3px;}
.pwdstrengthstr{float:right;clear:both;height:14px;margin-top:0px;}
.error{color:red;background-color:yellow;font-family:sans-serif;}
.reg{background:url('../img/glasses.jpg');color:white;}
#fg_membersite input[type="text"],#fg_membersite textarea,
#fg_membersite input[type="password"]{font-family:Arial, Verdana, sans-serif;line-height:140%;padding:3px;}
#fg_membersite input[type="text"],
#fg_membersite input[type="password"]{height:31px;width:354px;margin:4px;}
#fg_membersite #scaptcha{width:60px;height:18px;}
button.submit{}
#fg_membersite input[type="submit"]{}
#fg_membersite input[type="submit"]:hover{}
#fg_membersite textarea{height:120px;width:423px;padding:15px;}
#fg_membersite input[type="text"]:focus,
#fg_membersite textarea:focus{color:black;}
#fg_membersite .container{margin-top:8px;margin-bottom:10px;}
#fg_membersite .error{font-family:Verdana, Arial, sans-serif;font-size:0.7em;color:red;background-color:#ffff00;}
#fg_membersite #register_password_errorloc{clear:both;}
#fg_membersite fieldset#antispam{padding:2px;border-top:1px solid #EEE;border-left:0;border-right:0;border-bottom:0;width:350px;}
#fg_membersite fieldset#antispam legend{font-family:Arial, sans-serif;font-size:0.8em;font-weight:bold;color:#333;}
#fg_membersite .short_explanation{}
#fg_membersite .spmhidip{display:none;width:10px;height:3px;}
#fg_membersite #fg_crdiv{font-family:Arial, sans-serif;font-size:0.3em;opacity:.2;-moz-opacity:.2;filter:alpha(opacity=20);}
#fg_membersite #fg_crdiv p{display:none;}
a#password_gen_anch{display:none;}
.back{background:rgba(0,0,0,0.3);}
.bgr{background-size:cover;background-repeat:no-repeat;background-position:center;}
.log{background:url('../img/foo.jpg');}
/*popover*/
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

  line-break: auto;
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popover-content {
  padding: 9px 14px;
}
.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  content: "";
  border-width: 10px;
}
.popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}
.popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}
.popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0;
}
.popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25);
}
.popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, .25);
}
.popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff;
}
/*tooltip*/
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;

  line-break: auto;
}
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}