<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->

{% load staticfiles %}

<html>
<head>
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        
    <!-- Core CSS - Include with every page  -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/material.grey-pink.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <link rel="stylesheet" href="{% static 'css/bong.layout.min.css' %}">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/css/owl.carousel.css">
<link rel="stylesheet" href="/static/css/owl.theme.css">
<link rel='stylesheet' href='/static/css/animate.min.css'>
  <link rel="stylesheet" href="/static/css/pickout.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
          <script type="text/javascript"            src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">

        </script>
              <script type="text/javascript"            src="{%static 'js/bong.layout.min.js' %}"></script>
    <title>{% block head_title %}{% endblock head_title %}</title>

      <style type="text/css">
                      .mdl-select {
          position: relative;
          font-size: 16px;
          display: inline-block;
          box-sizing: border-box;
          width: 300px;
          max-width: 100%;
          margin: 0;
          padding: 20px 0;
        }

        .mdl-select__input {
          border: none;
          border-bottom: 1px solid rgba(0,0,0, 0.12);
          display: inline-block;
          font-size: 16px;
          margin: 0;
          padding: 4px 0;
          width: 100%;
          background: 16px;
          text-align: left;
          color: inherit;
        }

        .mdl-select.is-focused .mdl-select__input { outline: none; }
        .mdl-select.is-invalid .mdl-select__input { 
          border-color: rgb(222, 50, 38);
            box-shadow: none;
          }

        .mdl-select.is-disabled .mdl-select__input {
          background-color: transparent;
          border-bottom: 1px dotted rgba(0,0,0, 0.12);
        }

        .mdl-select__label {
          bottom: 0;
          color: rgba(0,0,0, 0.26);
          font-size: 16px;
          left: 0;
          right: 0;
          pointer-events: none;
          position: absolute;
          top: 24px;
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-align: left; 
        }

        .mdl-select.is-dirty .mdl-select__label { visibility: hidden; }

        .mdl-select--floating-label .mdl-textfield__label {
          -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
          -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

        .mdl-select--floating-label.is-focused .mdl-select__label,
        .mdl-select--floating-label.is-dirty .mdl-select__label {
          color: rgb(63,81,181);
          font-size: 12px;
          top: 4px;
          visibility: visible;
        }

        .mdl-select--floating-label.is-focused .mdl-select__expandable-holder .mdl-select__label,
        .mdl-select--floating-label.is-dirty .mdl-select__expandable-holder .mdl-select__label {
          top: -16px;
        }

        .mdl-select--floating-label.is-invalid .mdl-select__label {
          color: rgb(222, 50, 38);
          font-size: 12px;
        }

        .mdl-select__label:after {
          background-color: rgb(63,81,181);
          bottom: 20px;
          content: '';
          height: 2px;
          left: 45%;
          position: absolute;
          -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
          -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          visibility: hidden;
          width: 10px;
        }

        .mdl-select.is-focused .mdl-select__label:after {
          left: 0;
          visibility: visible;
          width: 100%; 
        }

        .mdl-select.is-invalid .mdl-select__label:after {
          background-color: rgb(222, 50, 38); 
        }

        .mdl-select__error {
          color: rgb(222, 50, 38);
          position: absolute;
          font-size: 12px;
          margin-top: 3px;
          visibility: hidden;
        }

        .mdl-select.is-invalid .mdl-select__error {
          visibility: visible;
        }

        .mdl-select__expandable-holder {
          display: inline-block;
          position: relative;
          margin-left: 32px;
          -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
          -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          display: inline-block;
          max-width: 0.1px; 
        }

        .mdl-select.is-focused .mdl-select__expandable-holder, .mdl-select.is-dirty .mdl-select__expandable-holder {
          max-width: 600px; 
        }

        .mdl-select__expandable-holder .mdl-select__label:after {
          bottom: 0;
        }

      </style>
      <script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/wow.min.js"></script>
  <script src="/static/js/pickout.js"></script>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" >
  <header class="mdl-layout__header mdl-layout__header--scroll " style="background-color:#000;color:#fff;   ">
    <div class="mdl-layout__header-row">
      <!-- Title -->
<span class="mdl-layout-title  "><a style="font-family:'Orbitron',sans-serif" class="non" href="/."><img style="width:auto;height:30px;" src='/static/logo.png' >aafoo</a></span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
      {% load i18n %}
{% load account socialaccount %}
      {% if user.is_authenticated %}

      <a class="mdl-navigation__link" id="submenu3" style="color:white"  href="#"> Welcome {{ user }}</a>

                  <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
    for="submenu3">
    <li disabled class="mdl-menu__item">Connect your Social Account </li>
    <li class="mdl-menu__item">
  {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  {% include "socialaccount/snippets/login_extra.html" %}
</li>
</ul>
        {% else %}
              {% get_providers as socialaccount_providers %}



                  <a class="mdl-navigation__link" id="submenu" style="color:white" href="#">Customer </a> 
        

        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
    for="submenu">
    {% if socialaccount_providers %}
 
  <li class="mdl-menu__item">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </li>
<br/>
   
 
{% include "socialaccount/snippets/login_extra.html" %}
{% else %}
 
{% endif %}
  <li class="mdl-menu__item"><a class="mdl-navigation__link"     href="/m/cuslogin">Customer Login</a> </li>

  <li disabled class="mdl-menu__item">Empty </li>
   
</ul>
            {% endif %}
      
      </nav>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample"
                 id="fixed-header-drawer-exp">
        </div>
      </div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title  "><a class="non" style="font-family:'Orbitron',sans-serif" href="/."><img style="width:auto;height:30px;" src="/static/logo.png">aafoo</a></span>
    <nav class="mdl-navigation">
     {% if user.is_authenticated %}
      <a class="mdl-navigation__link" href=""> Welcome {{ user }}</a>
                
            {% endif %}
      <a class="mdl-navigation__link" href="">Cafe</a>
      <a class="mdl-navigation__link" href="">Lunch</a>
      <a class="mdl-navigation__link" href="">Dinner</a>
      <a class="mdl-navigation__link" href="">Takeout</a>
    </nav>
  </div>
      {% block body %}
      <main class="mdl-layout__content">
    <div class="page-content">
    {% block content %}
    {% endblock content %}
    </div></main></div>


    {% endblock body %}
    {% block extra_body %}
    {% endblock extra_body %}
    <script>

        $("#owl-intro-text").owlCarousel({
    singleItem : true,
    autoPlay : 3000,
    stopOnHover : true,
    navigation : false,
    navigationText : false,
    pagination : true
})


// Partner carousel
$("#owl-partners").owlCarousel({
    items : 4,
    itemsDesktop : [1199,3],
    itemsDesktopSmall : [980,2],
    itemsTablet: [768,2],
    autoPlay : 5000,
    stopOnHover : true,
    pagination : false
})

// Testimonials carousel
$("#owl-testimonial").owlCarousel({
    singleItem : true,
    pagination : true,
    autoHeight : true
})

    </script>

    <script type="text/javascript" src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    {% block script_content %}

    {% endblock script_content %}
</body>
</html>
