{% extends "zaafoomob/base.html" %}
 {% load mathfilters %}
{% block head_title %}Book a Reastaurant{% endblock %}

{% block content %}


<div class="mdl-grid" style="margin-left:20px;" id="locas">
<style>
.demo-list-three {
  width: 650px;
}
</style>

<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-phone">   

<h1>Your basket</h1>
<table class="mdl-data-table mdl-js-data-table">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Item</th>
      <th>Quantity</th>
      <th>Unit price</th>
      <th>Individual Total</th>
    </tr>
  </thead>
  <tbody>
  {% for x in cart %}
    <tr>
      <td class="mdl-data-table__cell--non-numeric">{{x.0.0.name}}</td>
      <td>{{x.1}}</td>
      <td>₹{{x.0.0.price}}</td>
      <td>₹{{x.1|mul:x.0.0.price}}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
  	<tr>
  	<th class="mdl-data-table__cell--non-numeric">Total</th>
      <th>{{tots.0}}</th>
      <th></th>
      <th>{{tots.1}}</th>
    </tr>
 	<tr>
  	<th class="mdl-data-table__cell--non-numeric">Advance</th>
      <th>Percentage</th>
      <th>15%</th>
      <th>{{tots.1|mul:0.15}}</th>
    </tr>
  </tfoot>
</table>
<form action="" method="post"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
 {% csrf_token %}
  Pay

</button>	</form>
 
</div>
</div>



{% endblock %}

{% block script_content %}
{% endblock %}