{% extends "zaafoomob/base.html" %}
 {% load mathfilters %}
{% block head_title %}Book a Reastaurant{% endblock %}

{% block content %}


<div class="mdl-grid" style="margin-left:20px;" id="locas">
<style>
.demo-list-three {
  width: 100%;
}
</style>

<div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone">
<ul class="demo-list-three mdl-list" id="menulist">
<h3>Menu</h3>
{% for restss in resmenu %}  

<li class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-icon">star
</i>
      <span><a href="#">{{restss.name}}</a> </span>

      <span class="mdl-list__item-sub-title">{{restss.price}} <span class="mdl-list__item-text-body">
        {{restss.description}} 
      </span>  </span>
    </span>
    
    <span class="mdl-list__item-secondary-content">
      <span class="mdl-list__item-secondary-info">{{restss.cuisine}}</span>
      <input type="number" name="quantity" value=0 min="0" max="10">
      <input type="hidden" name="menuid" value="{{restss.id}}">
    </span>
  </li>

 

{% endfor %}
</ul>
</div>
<div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone">
<h3>Book Table</h3>
<style type="text/css">
    #layout { height: 800px;width: 700px;margin-left: -70px }
    .model-chair, .model-table { fill: #ddd; stroke-width: 2;}
    .model-table:hover { fill: #990000; }
    .model-table.selected { fill: #660000; }
    .model-chair:hover { fill: #009900; }
    .model-chair.selected { fill: #006600; }
  </style>
{% load mathfilters %}

<div class="mdl-grid">
<div class="mdl-cell mdl-cell--12-col">
<div id="layout"></div></div></div>
<script type="text/javascript" src="/static/js/bong.layout.min.js"></script>
<script type="text/javascript">
  var models = {
    chair: '<path d="M846 5883 c-22 -44 -65 -107 -102 -149 l-64 -71 0 -173 0 -174 73 ' +
        '-75 c40 -42 86 -92 102 -112 18 -22 60 -52 102 -73 l73 -36 225 0 225 0 0 -75 ' +
        '0 -75 -72 0 c-58 0 -106 -10 -256 -56 -101 -31 -200 -63 -219 -71 -20 -8 -121 ' +
        '-83 -224 -166 l-189 -152 -111 -255 c-62 -140 -120 -282 -130 -315 -10 -33 ' +
        '-43 -219 -75 -413 l-57 -352 62 -358 63 -357 121 -252 121 -253 191 -183 190 ' +
        '-184 115 -28 c63 -15 164 -43 223 -61 79 -25 127 -34 178 -34 l69 0 0 -80 0 ' +
        '-80 -228 0 -227 0 -40 -27 c-22 -15 -44 -32 -50 -39 -5 -6 -33 -27 -61 -45 ' +
        '-28 -19 -83 -69 -123 -113 l-71 -78 0 -177 0 -176 101 -108 c81 -86 115 -115 ' +
        '170 -143 l69 -34 870 0 870 0 68 34 c99 51 147 108 222 264 l64 132 -28 88 ' +
        'c-15 48 -46 129 -68 180 l-41 93 -106 72 -106 72 -197 3 -198 3 0 80 0 79 188 ' +
        '0 c183 0 191 1 278 30 63 22 121 52 199 104 l111 73 71 134 c98 185 122 286 ' +
        '130 561 l6 198 79 0 78 0 0 -192 c-1 -170 -5 -217 -33 -394 l-33 -201 41 -135 ' +
          'c41 -134 42 -136 111 -212 l69 -76 113 -37 112 -37 78 38 c139 69 160 93 263 ' +
        '305 l91 186 29 280 c52 503 89 1055 89 1319 0 213 -3 266 -30 455 -22 158 -30 ' +
        '251 -30 361 0 123 -5 170 -29 291 -17 79 -44 184 -60 233 -42 121 -119 208 ' +
        '-266 300 l-105 66 -120 0 -120 0 -77 -81 -78 -81 -37 -132 c-36 -122 -38 -140 ' +
        '-38 -266 0 -120 4 -146 30 -235 28 -95 30 -109 30 -287 l0 -188 -83 0 -83 0 4 ' +
        '188 c4 163 1 197 -16 267 -38 151 -57 201 -122 319 l-65 119 -101 68 c-56 37 ' +
        '-142 84 -190 104 l-89 36 -197 6 -198 6 0 74 0 73 183 0 183 0 90 44 c60 30 ' +
        '99 57 120 83 45 55 96 162 135 280 l33 102 -104 215 -104 216 -1011 0 -1011 0 ' +
        '-38 -77z"/>',
    table_round: '<circle cx="50" cy="50" r="40" />',
    table_square: '<rect width="100" height="100"/>'
  }

  function chairClick(event, target){
    var target = target ? target : this,
      cssClass = target.getAttribute("class");

    if(cssClass.indexOf("selected") == -1){
      target.setAttribute("class", cssClass + " selected");
    } else {
      target.setAttribute("class", cssClass.substr(0, cssClass.indexOf("selected")));
    }

    console.log(target.getAttribute("data-index"));
  }

  function tableClick(event, target){
    var target = target ? target : this,
      cssClass = target.getAttribute("class"),
      chairs = target.getAttribute("data-chairs").split(",");

    if(cssClass.indexOf("selected") == -1){
      target.setAttribute("class", cssClass + " selected");
    } else {
      target.setAttribute("class", cssClass.substr(0, cssClass.indexOf("selected")));
    }

    for(var i = 0, len = chairs.length; i < len; i++){
      chairClick( "click", getElementsByAttributeValue("data-index", chairs[i])[0]);
    }
  }

  function getElementsByAttributeValue(attribute, value){
    var matchingElements = [];
    var allElements = document.getElementsByTagName('*');
    for (var i = 0, n = allElements.length; i < n; i++) {
      if (allElements[i].getAttribute(attribute) == value){
        // Element exists with attribute. Add to array.
        matchingElements.push(allElements[i]);
      }
    }
    return matchingElements;
  }

  var layout = new Layout({
    wrapper_id : "layout",
    afterRender: function(){
      document.getElementsByTagName("svg")[0].setAttribute("style","transform: scale(0.5, 0.5);margin-left:-250px;width:100%");
    },
    map: [{
      model: "<polygon points='{{flp}}' class='floor'></polygon>"
    } 
    {% with count=1%}
{% for tabx in tabls%},
    {
      {% with x=tabx.x|mul:100 y=tabx.y|mul:100 %}
      model: models.chair,
      transform: {
        scale: { x: 0.01, y: 0.01 },
      },
      transforms: [{
          translate: { x: {{x|add:80}}, y: {{y|add:100}} },
          rotate: { x: 90, y: 90, z: 0 }
        }, {
          translate: { x: {{x|sub:10}}, y: {{y|add:80}} },
          rotate: { x: 180, y: 270, z: 0 }
        }, {
          translate: { x: {{x|add:20}}, y: {{y}} },
          rotate: { x: 270, y: 0, z: 0 }
        }, {
          translate: { x: {{x|add:100}}, y: {{y|add:20}} },
          rotate: { x: 0, y: 0, z: 0 }
        },
        
      ],
      event: {
        click: chairClick
      },
      class: "model-chair",
      dom_attributes: [
        { "data-index": {{forloop.counter|sub:1|mul:4|add:1}}, "data-special": "ok" },
        { "data-index": {{forloop.counter|sub:1|mul:4|add:2}}, "data-special": "ok" },
        { "data-index": {{forloop.counter|sub:1|mul:4|add:3}}, "data-special": "ok" },
        { "data-index": {{forloop.counter|mul:4}}, "data-special": "ok" },
        
        //{ "data-index": 5, "data-special": "ok" }
      ]
    },{
      model: models.table_square,
      transforms: [{
        translate: { x: {{x}}, y: {{y}} }
      }],
      events: [{
        click: tableClick
      }],   
      "class": "model-table",
      dom_attributes: [
        { "data-chairs": "{{forloop.counter|sub:1|mul:4|add:1}},{{forloop.counter|sub:1|mul:4|add:2}},{{forloop.counter|sub:1|mul:4|add:3}},{{forloop.counter|mul:4}}" }
      ],
    }

    
    {% endwith %}

{%endfor%}
{% endwith %}

    

    ]
  });
</script>


 </div>
  <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">  

 <h5>Pick a date and time</h5> <input type="datetime-local" name="bdaytime" id="datm"> 

<form method="post" action="" class="form-horizontal">
            {% csrf_token %}
            {{ form1}}
            <a class="mdl-button mdl-button--raised mdl-button--accent mdl-button--colored mdl-js-button mdl-js-ripple-effect"  href="#" onclick="menuandtablejsonify();">
      Book
    </a>
  </form>
 </div>
</div>
<script type="text/javascript">
Date.prototype.toDateInputValue = (function() {
    var local = new Date(this);
    local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
    return local.toJSON().slice(0,10);
});

document.getElementById('datm').value = new Date().toDateInputValue();
var jsnlis;
function  menuandtablejsonify()
{
  var menusstring="{'menus':["
    var valss=document.getElementsByName("quantity");
    var menind=document.getElementsByName("menuid");
    console.log(menind);
      console.log(valss);
      for (var i = menind.length - 1; i >= 0; i--) {
          
         console.log(menind[i].value);
         console.log(valss[i].value);
         if (valss[i].value!=0) {
         menusstring=menusstring+"{\'menuid\':"+menind[i].value+",\'value\':"+valss[i].value+"}";

           
         menusstring=menusstring+",";
       }
      }
      var datmm=document.getElementById("datm");
      menusstring=menusstring+"],\'date\':\'"+datmm.value+"\'}";
      console.log(menusstring);
      var json = JSON.stringify(eval("(" + menusstring + ")"));
      var hiddn=document.getElementById("id_rideschoices");
      hiddn.value=json;
      var foms=document.getElementsByTagName("form")[0];
      foms.submit();
  }
  

    

</script>





{% endblock %}

{% block script_content %}
{% endblock %}