{% extends "zaafoomob/base.html" %}
 
{% block head_title %}{% endblock %}

{% block content %}
<!-- Latest compiled and minified CSS -->


<!-- jQuery library -->


<!-- Latest compiled JavaScript -->
<!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <div id='page'>
<section id="text-carousel-intro-section " class="parallax" data-stellar-background-ratio="0.5" style="background-image: url('/static/foo.jpg');background-attachment: fixed;
    background-size: cover;">
        <div class="container wht cent rale " style='background:rgba(0,0,0,0.6)'>
          <div class="caption text-center text-white" data-stellar-ratio="0.7">

            <div id="owl-intro-text" class="owl-carousel">
              <div class="item">
                <h1 class='rale'>Zaafoo</h1>
                <p class='xl'>"There is no love sincerer than the love of food."</p>
                                <div class="extra-space-l"></div><div class="extra-space-l"></div>
                <a class="btn btn-blank" href="#"  role="button">View More!</a>
              </div>
              <div class="item">
                <h2>Join with us</h2>
                <p class='xl'>Faster, Easier and Safer.</p>
                <div class="extra-space-l"></div><div class="extra-space-l"></div>
                <a class="btn btn-blank" href="#"  role="button">View More!</a>
              </div>
              <div class="item">
                <h2>Customer Priority</h2>
                <p class='xl'>Your wish, your choice.</p>
                <div class="extra-space-l"></div><div class="extra-space-l"></div>
                <a class="btn btn-blank" href="#"  role="button">View More!</a>
              </div>
            </div>

          </div> <!-- /.caption -->
        </div> <!-- /.container -->

      </section>
      <style>
.demo-card-wide.mdl-card {
  width: 90%;
}
.demo-card-wide > .mdl-card__title {
  color:#FF1493 ;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  height: 176px;
  
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
</style>
      <div class="mdl-grid" style="margin-left:20px;" id="locas">
<div class="mdl-cell mdl-cell--4-col ">
       <i class="material-icons">place</i></div>
     <div class="mdl-cell mdl-cell--4-col ">
     <div class="mdl-select mdl-js-select mdl-select--floating-label">
        

        <select class="mdl-select__input"    id="places">
         
         
        </select>
        </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col ">
       <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
    <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
      <i class="material-icons">search</i>
    </label>
    <div class="mdl-textfield__expandable-holder">
      <input class="mdl-textfield__input" type="text" id="sample6">
      <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
    </div>
  </div>
      </div>
   

                <script type="text/javascript">
                    
                                     $.get("http://zaafoo.in/tuddumdum/cities/?format=json", function(data) {
                      var options = '';
                      for (var i = 0; i <=data.length - 1; i++) {
                         options += '<option value="' + data[i].id + '">' + data[i].city_name + '</option>';}
                        $("select#places").html(options);
                        
                      
  
}).fail(function(err) {
  $("#places").text("error" + JSON.stringify(err));
});



</script>
{% for restss in restsowned %}  
<div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-phone">
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title" style="background:url('/{{ restss.imagecontent.url }}')center / cover;">
     <h2 class="mdl-card__title-text" style="font-family: "Times New Roman", Times, serif;">{{restss.restaurant.rname}}<br>{{restss.restaurant.street_address}}</h2>
  </div>
   <div class="mdl-card__supporting-text">
  {{restss.restaurant.description}}
  </div>
  <div class="mdl-card__actions mdl-card--border" >
    <a class="mdl-button mdl-button--raised mdl-button--accent mdl-button--colored mdl-js-button mdl-js-ripple-effect"  href="/m/cusResBook/{{restss.restaurant.id}}">
      Book
    </a>
  </div>
  
</div>
</div>

{% endfor %}
</div>
  </div>
{% endblock %}

{% block script_content %}
{% endblock %}
