{% extends "zaafoomain/base.html" %}
 
{% block head_title %}{% endblock %}

{% block content %}


<div class="mdl-grid" style="margin-left:20px;" id="locas">
<style>
.demo-list-three {
  width: 650px;
}
</style>
 
<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">     
<ul class="demo-list-three mdl-list">
{% for restss in resmenu %}  

<li class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-icon">accessibility
</i>
      <span><a href="/menu_edit/{{restss.id }}">{{restss.name}}</a> </span>

      <span class="mdl-list__item-sub-title">{{restss.price}} <span class="mdl-list__item-text-body">
        {{restss.description}} <a href="/deletemenu/{{restss.id}}">Delete</a>
      </span>  </span>
    </span>
    
    <span class="mdl-list__item-secondary-content">
      <span class="mdl-list__item-secondary-info">{{restss.cuisine}}</span>
      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
    </span>
  </li>

 

{% endfor %}<a href="/createMenu">
<li><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
  <i class="material-icons">add</i>
</button></li></a>
</ul>
</div>
</div>






{% endblock %}

{% block script_content %}
{% endblock %}