{% extends "zaafoomob/base.html" %}
 
{% block head_title %}{% endblock %}

{% block content %}
<style type="text/css">
		#layout { height: 400px; }
		.model-chair, .model-table { fill: #ddd; stroke-width: 2;}
		.model-table:hover { fill: #990000; }
		.model-table.selected { fill: #660000; }
		.model-chair:hover { fill: #009900; }
		.model-chair.selected { fill: #006600; }
	</style>

<div id="layout"></div>
<script type="text/javascript" src="javascripts/bong.layout.min.js"></script>
<script type="text/javascript">
	var models = {
		chair: '<path d="M846 5883 c-22 -44 -65 -107 -102 -149 l-64 -71 0 -173 0 -174 73 ' +
				'-75 c40 -42 86 -92 102 -112 18 -22 60 -52 102 -73 l73 -36 225 0 225 0 0 -75 ' +
				'0 -75 -72 0 c-58 0 -106 -10 -256 -56 -101 -31 -200 -63 -219 -71 -20 -8 -121 ' +
				'-83 -224 -166 l-189 -152 -111 -255 c-62 -140 -120 -282 -130 -315 -10 -33 ' +
				'-43 -219 -75 -413 l-57 -352 62 -358 63 -357 121 -252 121 -253 191 -183 190 ' +
				'-184 115 -28 c63 -15 164 -43 223 -61 79 -25 127 -34 178 -34 l69 0 0 -80 0 ' +
				'-80 -228 0 -227 0 -40 -27 c-22 -15 -44 -32 -50 -39 -5 -6 -33 -27 -61 -45 ' +
				'-28 -19 -83 -69 -123 -113 l-71 -78 0 -177 0 -176 101 -108 c81 -86 115 -115 ' +
				'170 -143 l69 -34 870 0 870 0 68 34 c99 51 147 108 222 264 l64 132 -28 88 ' +
				'c-15 48 -46 129 -68 180 l-41 93 -106 72 -106 72 -197 3 -198 3 0 80 0 79 188 ' +
				'0 c183 0 191 1 278 30 63 22 121 52 199 104 l111 73 71 134 c98 185 122 286 ' +
				'130 561 l6 198 79 0 78 0 0 -192 c-1 -170 -5 -217 -33 -394 l-33 -201 41 -135 ' +
					'c41 -134 42 -136 111 -212 l69 -76 113 -37 112 -37 78 38 c139 69 160 93 263 ' +
				'305 l91 186 29 280 c52 503 89 1055 89 1319 0 213 -3 266 -30 455 -22 158 -30 ' +
				'251 -30 361 0 123 -5 170 -29 291 -17 79 -44 184 -60 233 -42 121 -119 208 ' +
				'-266 300 l-105 66 -120 0 -120 0 -77 -81 -78 -81 -37 -132 c-36 -122 -38 -140 ' +
				'-38 -266 0 -120 4 -146 30 -235 28 -95 30 -109 30 -287 l0 -188 -83 0 -83 0 4 ' +
				'188 c4 163 1 197 -16 267 -38 151 -57 201 -122 319 l-65 119 -101 68 c-56 37 ' +
				'-142 84 -190 104 l-89 36 -197 6 -198 6 0 74 0 73 183 0 183 0 90 44 c60 30 ' +
				'99 57 120 83 45 55 96 162 135 280 l33 102 -104 215 -104 216 -1011 0 -1011 0 ' +
				'-38 -77z"/>',
		table_round: '<circle cx="50" cy="50" r="40" />',
		table_square: '<rect width="100" height="100"/>'
	}

	function chairClick(event, target){
		var target = target ? target : this,
			cssClass = target.getAttribute("class");

		if(cssClass.indexOf("selected") == -1){
			target.setAttribute("class", cssClass + " selected");
		} else {
			target.setAttribute("class", cssClass.substr(0, cssClass.indexOf("selected")));
		}

		console.log(target.getAttribute("data-index"));
	}

	function tableClick(event, target){
		var target = target ? target : this,
			cssClass = target.getAttribute("class"),
			chairs = target.getAttribute("data-chairs").split(",");

		if(cssClass.indexOf("selected") == -1){
			target.setAttribute("class", cssClass + " selected");
		} else {
			target.setAttribute("class", cssClass.substr(0, cssClass.indexOf("selected")));
		}

		for(var i = 0, len = chairs.length; i < len; i++){
			chairClick( "click", getElementsByAttributeValue("data-index", chairs[i])[0]);
		}
	}

	function getElementsByAttributeValue(attribute, value){
		var matchingElements = [];
		var allElements = document.getElementsByTagName('*');
		for (var i = 0, n = allElements.length; i < n; i++) {
			if (allElements[i].getAttribute(attribute) == value){
			  // Element exists with attribute. Add to array.
			  matchingElements.push(allElements[i]);
			}
		}
		return matchingElements;
	}

	var layout = new Layout({
		wrapper_id : "layout",
		afterRender: function(){
			document.getElementsByTagName("svg")[0].setAttribute("style","transform: scale(0.5, 0.5)");
		},
		map: [{
			model: "<polygon points='0,0 600,0 600,400 0,400' class='floor'></polygon>"
		}, {
			model: models.chair,
			transform: {
				scale: { x: 0.01, y: 0.01 },
			},
			transforms: [{
					translate: { x: 150, y: 180 },
					rotate: { x: 90, y: 90, z: 0 }
				}, {
					translate: { x: 50, y: 150 },
					rotate: { x: 180, y: 270, z: 0 }
				}, {
					translate: { x: 90, y: 60 },
					rotate: { x: 270, y: 0, z: 0 }
				}, {
					translate: { x: 180, y: 90 },
					rotate: { x: 0, y: 0, z: 0 }
				},
			],
			event: {
				click: chairClick
			},
			class: "model-chair",
			dom_attributes: [
				{ "data-index": 1, "data-special": "ok" },
				{ "data-index": 2, "data-special": "ok" },
				{ "data-index": 3, "data-special": "ok" },
				{ "data-index": 4, "data-special": "ok" },
				//{ "data-index": 5, "data-special": "ok" }
			]
		},{
			model: models.table_square,
			transforms: [{
				translate: { x: 70, y: 70 }
			}],
			events: [{
				click: tableClick
			}],		
			"class": "model-table",
			dom_attributes: [
				{ "data-chairs": "1,2,3,4" }
			],
		}]
		// data: [{
		// 		model: "<polygon points='0,0 600,0 600,400 0,400' class='floor'></polygon>"
		// 	},{
		// 		model: models.chair,
		// 		transform: {
		// 			translate: { x: 150, y: 180 },
		// 			scale: { x: 0.01, y: 0.01 },
		// 			rotate: { x: 90, y: 90, z: 0 }
		// 		},
		// 		class: "model-chair",
		// 		events: {
		// 			click: chairClick
		// 		},
		// 		dom_attributes: {
		// 			"data-index": 1,
		// 			"data-special": "ok"
		// 		}
		// 	},{
		// 		model: models.chair,
		// 		transform: {
		// 			translate: { x: 50, y: 150 },
		// 			scale: { x: 0.01, y: 0.01 },
		// 			rotate: { x: 180, y: 270, z: 0 }
		// 		},
		// 		class: "model-chair",
		// 		events: {
		// 			click: chairClick
		// 		},
		// 		dom_attributes: {
		// 			"data-index": 2,
		// 			"data-special": "ok"
		// 		}
		// 	},{
		// 		model: models.chair,
		// 		transform: {
		// 			translate: { x: 90, y: 60 },
		// 			scale: { x: 0.01, y: 0.01 },
		// 			rotate: { x: 270, y: 0, z: 0 }
		// 		},
		// 		class: "model-chair",
		// 		events: {
		// 			click: chairClick
		// 		},
		// 		dom_attributes: {
		// 			"data-index": 3,
		// 			"data-special": "ok"
		// 		}
		// 	}, {
		// 		model: models.chair,
		// 		transform: {
		// 			translate: { x: 180, y: 90 },
		// 			scale: { x: 0.01, y: 0.01 },
		// 			rotate: { x: 0, y: 0, z: 0 }
		// 		},
		// 		class: "model-chair",
		// 		events: {
		// 			click: chairClick
		// 		},
		// 		dom_attributes: {
		// 			"data-index": 4,
		// 			"data-special": "ok"
		// 		}
		// 	}, {
		// 		model: models.table_square,
		// 		transform :{
		// 			translate: { x: 70, y: 70 }
		// 		},
		// 		events: {
		// 			click: tableClick
		// 		},
		// 		class: "model-table",
		// 		dom_attributes: {
		// 			"data-chairs": "1,2,3,4"
		// 		}
		// 	}
		// ]
	});
</script>








{% endblock %}

{% block script_content %}
{% endblock %}