{% extends "zaafoomain/base.html" %}
 
{% block head_title %}{% endblock %}

{% block content %}
<style>
.demo-card-wide.mdl-card {
  width: 400px;
}
.demo-card-wide > .mdl-card__title {
  color:#FF1493 ;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  height: 176px;
  
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
</style>

      <div class="mdl-grid" style="margin-left:20px;" id="locas">
     
{% for restss in restsowned %}  
<div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-phone">
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title" style="background:url('/{{ restss.imagecontent.url }}')center / cover;">
     <h2 class="mdl-card__title-text" style="font-weight: bolder;  font-family: "Times New Roman", Times, serif;">{{restss.restaurant.rname}}<br>{{restss.restaurant.street_address}}</h2>
  </div>
   <div class="mdl-card__supporting-text">
  {{restss.restaurant.description}}
  </div>
  <div class="mdl-card__actions mdl-card--border" >
    <a class="mdl-button mdl-button--raised mdl-button--accent mdl-button--colored mdl-js-button mdl-js-ripple-effect"  href="/cusResBook/{{restss.restaurant.id}}">
      Book
    </a>
  </div>
  
</div>
</div>

{% endfor %}
</div>
{% endblock %}

{% block script_content %}
{% endblock %}