{% extends "zaafoomain/base.html" %}

{% block head_title %}About Us{% endblock %}

{% block content %}
  <div id='page'>
 <h1> </h1>

      <b> </b>

<div class="mdl-grid" style="margin-left:20px;" id="locas">
      <div class="mdl-cell mdl-cell--10-col mdl-cell--8-col-phone">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:"MV Boli";
	panose-1:2 0 5 0 3 2 0 9 0 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:10.0pt;
	margin-left:0in;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:10.0pt;
	margin-left:.5in;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:10.0pt;
	margin-left:.5in;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";}
.MsoPapDefault
	{margin-bottom:10.0pt;
	line-height:115%;}
@page Section1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.Section1
	{page:Section1;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
</style>


<div class=Section1>

<p class=MsoNormal><b><span style='font-size:26.0pt;line-height:115%'>                            
</span></b><b><u><span style='font-size:28.0pt;line-height:115%;color:red'>About
Us</span></u></b></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span
style='font-size:18.0pt;font-family:"MV Boli"'>   </span><span
style='font-size:12.0pt;font-family:"MV Boli"'>Lets get this straight – All of
us love to eat. Eating good food is the ultimate pleasure in our life. And
being Indians we just love to spend time with our family and friends, dining
out, relishing the aroma of  mouthwatering delicacies. When we plan to go out
for a meal, we face to problems – “where to eat ?” &amp; “How to get the best
deal ?”</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span
style='font-size:12.0pt;font-family:"MV Boli"'>   At <span style='color:red'>Zaafoo</span>
we make sure that you enjoy your meal to the fullest without facing any
trouble. We bring you a unique and easy way to find restaurants, book tables
and get discounts throughout the year in all the major restaurants across
Bhubaneswar and Cuttack. We aim at introducing a new consumer technology in the
food and beverage industry and to lead the industry in all its aspects- brand,
product, technology and business.</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span
style='font-size:12.0pt;font-family:"MV Boli"'>   What do we offer ?</span></p>

<p class=MsoListParagraphCxSpFirst style='margin-left:56.25pt;text-align:justify;
text-indent:-.25in;line-height:normal'><span style='font-size:12.0pt;
font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;font-family:"MV Boli";color:red'>Multiple
filters to find you the best-</span><span style='font-size:12.0pt;font-family:
"MV Boli"'> you can choose restaurants according to your taste and mood using
our filters</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:56.25pt;text-align:justify;
text-indent:-.25in;line-height:normal'><span style='font-size:12.0pt;
font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;font-family:"MV Boli";color:red'>Help
you to find places nearby-</span><span style='font-size:12.0pt;font-family:
"MV Boli"'> you can find the best restaurants in accordance to your location
preferences</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:56.25pt;text-align:justify;
text-indent:-.25in;line-height:normal'><span style='font-size:12.0pt;
font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;font-family:"MV Boli";color:red'>Provide
access to the restaurant menus-</span><span style='font-size:12.0pt;font-family:
"MV Boli"'> you can browse through the menus of as many restaurants as you
want  before booking your table</span></p>

<p class=MsoListParagraphCxSpLast style='margin-left:56.25pt;text-align:justify;
text-indent:-.25in;line-height:normal'><span style='font-size:12.0pt;
font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;font-family:"MV Boli";color:red'>Bring
you the best deals-</span><span style='font-size:12.0pt;font-family:"MV Boli"'>
you are eligible to get discounts throughout the year when you book your table
through <span style='color:red'>Zaafoo</span>.</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span
style='font-size:12.0pt;font-family:"MV Boli"'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span
style='font-size:12.0pt;font-family:"MV Boli"'>   All of this within the reach
of your finger tips. And what’s more ? <span style='color:red'>you can preorder
your food!</span> So no more waiting, just search,book,order and you are good
to go.</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span
style='font-size:12.0pt;font-family:"MV Boli"'>   Our mission is to be the most
trusted brand in the food tech industry by providing our customers total
convenience, complete control and the freedom of choice. We know ‘There is no
love sincerer than the love for food’. Our customers are our priority and their
satisfaction is what we seek.</span></p>

<h2>Our Team</h2>
    <style>
.demo-card-square.mdl-card {
  width: 300px;
  height: 540px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;

}
</style>
<div class="mdl-grid" style="margin-left:20px;" id="locas">
<div class="mdl-cell mdl-cell--4-col ">
<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand" style="background:url('/static/Jyoti.jpeg') bottom right 15% no-repeat #46B6AC;">
    <h2 class="mdl-card__title-text">Jyoti Prakash Mohanty, CEO</h2>
  </div>
  <div class="mdl-card__supporting-text">As the CEO of Zaafoo Mr. Jyoti leads our vision of providing you the best eating experience in town. Having a strong experience in sales and marketing sector, he focuses on the growth and development of the company to enable us to deliver the best of services to our customers.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      
    </a>
  </div>
</div>
</div>
    <div class="mdl-cell mdl-cell--4-col ">
<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand" style="background:url('/static/Parthu.jpeg') bottom right 15% no-repeat #46B6AC;">
    <h2 class="mdl-card__title-text"> Parthunjay Kyama, COO</h2>
  </div>
  <div class="mdl-card__supporting-text" >
    As the COO Mr. Parthunjay is responsible for the development, operation and improvement of our systems and taking an initiative to ensure that Zaafoo succeeds in providing you the best as per your expectations.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      
    </a>
  </div>
</div>

</div>
    <div class="mdl-cell mdl-cell--4-col ">
    <div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand" style="background:url('/static/sayok.jpg') bottom right 15% no-repeat #46B6AC;">
    <h2 class="mdl-card__title-text">Sayok Bhattacharya, CTO</h2>
  </div>
  <div class="mdl-card__supporting-text">
    With a strong experience in IT, Mr. Sayok leads our technical department and provides all the guidance for our website as well as android app and ensures that our technology is always up-to-date and secure to provide a hassle free experience to our customers.


  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      
    </a>
  </div>
</div>

</div>
    <div class="mdl-cell mdl-cell--4-col ">
  <div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand" style="background:url('/static/rachel.jpeg') bottom right 15% no-repeat #46B6AC;">
    <h2 class="mdl-card__title-text">Rachel Rout, Marketing Head</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Mr. Rachel brings in 8 years of well-rounded experience in marketing to the Zaafoo team. He is dedicated towards helping the diners find the perfect restaurants for themselves and helping restaurants to grow their business.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      
    </a>
  </div>
</div>

</div>
    <div class="mdl-cell mdl-cell--4-col ">
    <div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand" style="background:url('/static/somi.jpeg') bottom right 15% no-repeat #46B6AC;">
    <h2 class="mdl-card__title-text">Sumaiya Parween, Content Head</h2>
  </div>
  <div class="mdl-card__supporting-text">
    With a love of working with beautiful words Sumaiya is placed to create and maintain engaging contents for the visitors on our website and put forth the visions and ideas of our team to our customers.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      
    </a>
  </div>
</div>

</div>

    </div>

</div>

      </div></div></div>

{% endblock %}

{% block script_content %}
{% endblock %}