{% extends "zaafoomain/base.html" %}
 
{% block head_title %}{% endblock %}

{% block content %}
<h1>{{msg}}</h1>
 <form   action="/restaurantlogin/" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        {{ form}}
           <!--  <div class="mdl-textfield mdl-js-textfield">
             <input class="mdl-textfield__input" type="text" id="username">
    <label class="mdl-textfield__label" for="username">Username</label>
               
            </div>
        <br/>
      <div class="mdl-textfield mdl-js-textfield">
             <input class="mdl-textfield__input" type="password" id="password">
    <label class="mdl-textfield__label" for="password">password</label>
               
            </div>
            
            <br/> -->

                
            
        </form>

{% endblock %}

{% block script_content %}
{% endblock %}