<!DOCTYPE html>
<!--
 Copyright 2016 Copyright 2016, Sayok Bhattacharya, All rights reserved.
-->

{% load staticfiles %}

<html>
<head>
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Core CSS - Include with every page  -->
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/material.grey-pink.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <link rel="stylesheet" href="{% static 'css/bong.layout.min.css' %}">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/css/owl.carousel.css">
<link rel="stylesheet" href="/static/css/owl.theme.css">
<link rel='stylesheet' href='/static/css/animate.min.css'>
  <link rel="stylesheet" href="/static/css/pickout.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript"  src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
 </script>
<script type="text/javascript" src="{%static 'js/bong.layout.min.js' %}"></script>
<link rel="">
    <title>{% block head_title %}{% endblock head_title %}</title>

      <style type="text/css">

      #foot  {
            height:40px;
}
                      .mdl-select {
          position: relative;
          font-size: 16px;
          display: inline-block;
          box-sizing: border-box;
          width: 300px;
          max-width: 100%;
          margin: 0;
          padding: 20px 0;
        }

        .mdl-select__input {
          border: none;
          border-bottom: 1px solid rgba(0,0,0, 0.12);
          display: inline-block;
          font-size: 16px;
          margin: 0;
          padding: 4px 0;
          width: 100%;
          background: 16px;
          text-align: left;
          color: inherit;
        }

        .mdl-select.is-focused .mdl-select__input { outline: none; }
        .mdl-select.is-invalid .mdl-select__input { 
          border-color: rgb(222, 50, 38);
            box-shadow: none;
          }

        .mdl-select.is-disabled .mdl-select__input {
          background-color: transparent;
          border-bottom: 1px dotted rgba(0,0,0, 0.12);
        }

        .mdl-select__label {
          bottom: 0;
          color: rgba(0,0,0, 0.26);
          font-size: 16px;
          left: 0;
          right: 0;
          pointer-events: none;
          position: absolute;
          top: 24px;
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-align: left; 
        }

        .mdl-select.is-dirty .mdl-select__label { visibility: hidden; }

        .mdl-select--floating-label .mdl-textfield__label {
          -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
          -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

        .mdl-select--floating-label.is-focused .mdl-select__label,
        .mdl-select--floating-label.is-dirty .mdl-select__label {
          color: rgb(63,81,181);
          font-size: 12px;
          top: 4px;
          visibility: visible;
        }

        .mdl-select--floating-label.is-focused .mdl-select__expandable-holder .mdl-select__label,
        .mdl-select--floating-label.is-dirty .mdl-select__expandable-holder .mdl-select__label {
          top: -16px;
        }

        .mdl-select--floating-label.is-invalid .mdl-select__label {
          color: rgb(222, 50, 38);
          font-size: 12px;
        }

        .mdl-select__label:after {
          background-color: rgb(63,81,181);
          bottom: 20px;
          content: '';
          height: 2px;
          left: 45%;
          position: absolute;
          -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
          -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          visibility: hidden;
          width: 10px;
        }

        .mdl-select.is-focused .mdl-select__label:after {
          left: 0;
          visibility: visible;
          width: 100%; 
        }

        .mdl-select.is-invalid .mdl-select__label:after {
          background-color: rgb(222, 50, 38); 
        }

        .mdl-select__error {
          color: rgb(222, 50, 38);
          position: absolute;
          font-size: 12px;
          margin-top: 3px;
          visibility: hidden;
        }

        .mdl-select.is-invalid .mdl-select__error {
          visibility: visible;
        }

        .mdl-select__expandable-holder {
          display: inline-block;
          position: relative;
          margin-left: 32px;
          -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
          -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          display: inline-block;
          max-width: 0.1px; 
        }

        .mdl-select.is-focused .mdl-select__expandable-holder, .mdl-select.is-dirty .mdl-select__expandable-holder {
          max-width: 600px; 
        }

        .mdl-select__expandable-holder .mdl-select__label:after {
          bottom: 0;
        }


      </style>
      <script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/wow.min.js"></script>
  <script src="/static/js/pickout.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-96233083-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body style="font-color: #EC330A;" >
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header"  id="index" >

  <header class="mdl-layout__header mdl-layout__header--scroll " style="background-color:#000;color:#fff;   ">
    <div class="mdl-layout__header-row">
      <!-- Title -->
<span class="mdl-layout-title  "><a style="font-family:'Orbitron',sans-serif" class="non" href="/."><img style="width:auto;height:30px;" src='/static/logo.png' >aafoo</a></span>
      <!-- Add spacer, to align navigation to the right -->
        <!--style="width: 60%"-->
      <div class="mdl-layout-spacer" ></div>
      <!-- Navigation -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a class="mdl-navigation__link" href="https://play.google.com/store/apps/details?id=com.zaafoo.preorder"><span id='android'><i class='icon material-icons' style="color:white ">android</i></span><span class="mdl-tooltip mdl-tooltip--large" for='android'>android app</span></a>
      <a class="mdl-navigation__link" href="#"><span id='apple'></span><img src="/static/apple.png"  style="height: 30px; ">
          <span class="mdl-tooltip mdl-tooltip--large" for='apple'>ios app</span></a>
      {% load i18n %}
{% load account socialaccount %}
      {% if user.is_authenticated %}

      <a class="mdl-navigation__link" id="submenu3" style="color:white"  href="#"> Welcome {{ user }}</a>
                  <a class="mdl-navigation__link" style="color:white" href="/logout_view">Logout</a>
                  <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
    for="submenu3">
    <li disabled class="mdl-menu__item">Connect your Social Account </li>
    <li class="mdl-menu__item">
  {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  {% include "socialaccount/snippets/login_extra.html" %}
</li>
                      <li class="mdl-menu__item"><a href="/profile">Profile</a> </li>
</ul>
        {% else %}
              {% get_providers as socialaccount_providers %}



                  <a class="mdl-navigation__link" id="submenu" style="color:white" href="#">Customer </a> 
        
        <a class="mdl-navigation__link"  style="color:white" href="/restaurantlogin">Restaurant Login</a>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
    for="submenu">
    {% if socialaccount_providers %}
 
  <li class="mdl-menu__item">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </li>
<br/>
   
 
{% include "socialaccount/snippets/login_extra.html" %}
{% else %}
 
{% endif %}
  <li class="mdl-menu__item"><a class="mdl-navigation__link"     href="/cuslogin">Customer Login</a> </li>
  <li class="mdl-menu__item"><a class="mdl-navigation__link"   href="/register">Customer Registration</a></li>
  <li disabled class="mdl-menu__item">Empty </li>
   
</ul>
            {% endif %}
      
      </nav>
      <nav class="mdl-navigation mdl-layout--small-screen-only">

<!-- Right aligned menu below button -->
<button id="demo-menu-lower-right"
        class="mdl-button mdl-js-button mdl-button--icon">
  <i class="material-icons">more_vert</i>
</button>
<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
    for="demo-menu-lower-right">
 {% if user.is_authenticated %}

      <li class="mdl-menu__item"><a class="mdl-navigation__link" id="submenu3"   href="#"> Welcome {{ user }}</a></li>
                  <li class="mdl-menu__item"><a class="mdl-navigation__link"  href="/logout_view">Logout</a></li>
                  
    <li disabled class="mdl-menu__item">Connect your Social Account </li>
    <li class="mdl-menu__item">
  {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  {% include "socialaccount/snippets/login_extra.html" %}
</li>
                      <li class="mdl-menu__item"><a href="/profile">Profile</a> </li>

        {% else %}
              {% get_providers as socialaccount_providers %}




        
        <li class="mdl-menu__item"><a class="mdl-navigation__link"   href="/restaurantlogin">Restaurant Login</a></li>
    {% if socialaccount_providers %}
 
  <li class="mdl-menu__item">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </li>

   
 
{% include "socialaccount/snippets/login_extra.html" %}
{% else %}
 
{% endif %}
  <li class="mdl-menu__item"><a class="mdl-navigation__link"     href="/cuslogin">Customer Login</a> </li>
  <li class="mdl-menu__item"><a class="mdl-navigation__link"   href="/register">Customer Registration</a></li>
   

            {% endif %}
      

</ul>
      </nav>

    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title  "><a class="non" style="font-family:'Orbitron',sans-serif" href="/."><img style="width:auto;height:30px;" src="/static/logo.png">aafoo</a></span>
    <nav class="mdl-navigation">
     {% if user.is_authenticated %}
      <a class="mdl-navigation__link" href=""> Welcome {{ user }}</a>
                 <a class="mdl-navigation__link" href="/cuspastbookings">My Transactions</a>
         <a class="mdl-navigation__link" href="/cuscurrbookings">Upcoming Bookings</a>
         <a class="mdl-navigation__link" href="/cancelations">Cancellations</a>
         <a class="mdl-navigation__link" href="/basket">My Cart</a>
        {% for group in user.groups.all %}
    {% if group.name == 'RestaurantOwners' %}
         <a class="mdl-navigation__link" href="/dashboard2">My Dashboard</a>
    {% endif %}
{% endfor %}
            {% endif %}
      <a class="mdl-navigation__link" href=""> </a>

    </nav>
  </div>
      {% block body %}
      <main class="mdl-layout__content">
    <div class="page-content">
    {% block content %}
    {% endblock content %}
    </div></main>

    <div id="foot">
 <footer class="mdl-mega-footer">

   <!-- MDL footer Middle Section Container -->
  <div class="mdl-mega-footer__middle-section">

    <!-- MDL Footer Drop Down Section -->
    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h6>About</h6>
      <ul class="mdl-mega-footer__link-list">
        {% comment %}<li><a href="#">About Zaafoo</a></li>{% endcomment %}
        <li><a href="/aboutus">About Us</a></li>
{#        <li><a href="#">Updates</a></li>#}
      </ul>
    </div>


   <!-- MDL Footer Drop Down Section 2 -->
    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h6>Cities</h6>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">Bhubaneswar</a></li>
          <li><a href="#">Khurda</a></li>

      </ul>
    </div>



 <!-- MDL Footer Drop Down Section 3 -->
    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h6>Legal</h6>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="/tos">Terms</a></li>
        <li><a href="/pp">Privacy Policy</a></li>
        <li><a href="/Contracts">Contract</a></li>
          <li><a href="/CancellaetionandRefunds">Cancellation and Refunds</a></li>
          <li><a href="/Disclaimer">Disclaimer</a></li>
      </ul>
    </div>

  </div>

    <!-- MDL Footer Bottom Section -->
  <div class="mdl-mega-footer__bottom-section">
    <div class="mdl-logo">Zaafoo</div>
    <ul class="mdl-mega-footer__link-list">
      {% comment %}<li><a href="#"><b>Others</b> </a></li>{% endcomment %}
        <li><a href="/careers">Careers</a></li>
        <li><a href="https://zaafoo.wordpress.com/blog/">Blog</a></li>
        <li><a href="/contactus">Contact us</a></li>
        <li><a href="https://www.facebook.com/zaafoo1/"><i class="fa fa-facebook" aria-hidden="true"></i>
</a></li>
        <li><a href="https://twitter.com/zaafoo_hpl"><i class="fa fa-twitter" aria-hidden="true"></i>

</a></li>
        <li><a href="https://www.instagram.com/zaafoo001/"><i class="fa fa-instagram" aria-hidden="true"></i>

</a></li>
        <li><a href="https://www.linkedin.com/organization/13256993/"><i class="fa fa-linkedin" aria-hidden="true"></i>


</a></li>
    </ul>
  </div>
  

</footer>
        </div>
</div>
    {% endblock body %}
    {% block extra_body %}
    {% endblock extra_body %}
    <script>
          document.getElementById('index').style="  background-image:url(/static/sebastian-lp-155047.jpg); background-color: rgba(0, 0, 0, 0.5); ";
          document.getElementById('index').style.backgroundSize="100%";


        $("#owl-intro-text").owlCarousel({
    singleItem : true,
    autoPlay : 3000,
    stopOnHover : true,
    navigation : false,
    navigationText : false,
    pagination : true
})


// Partner carousel
$("#owl-partners").owlCarousel({
    items : 4,
    itemsDesktop : [1199,3],
    itemsDesktopSmall : [980,2],
    itemsTablet: [768,2],
    autoPlay : 5000,
    stopOnHover : true,
    pagination : false
})

// Testimonials carousel
$("#owl-testimonial").owlCarousel({
    singleItem : true,
    pagination : true,
    autoHeight : true
})

    </script>

    <script type="text/javascript" src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    {% block script_content %}

    {% endblock script_content %}

</body>
</html>
