{% extends "zaafoomain/base.html" %}
 {% load mathfilters %}
{% block head_title %}Bill{% endblock %}

{% block content %}


<div class="mdl-grid" style="margin-left:20px;" id="locas">
<style>
.demo-list-three {
  width: 650px;
}
</style>

<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-phone">   
<h2>Cancellation Progress</h2>
<table class="mdl-data-table mdl-js-data-table">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Initiated</th>
      <th>Refund Initiated</th>
      <th>Refund Completed</th>

      <th>Amount Refunded</th>
    </tr>
  </thead>
  <tbody>
<tr>
      <th class="mdl-data-table__cell--non-numeric">{{ can.initiated }}</th>
      <th>{{ can.refund_initiated }}</th>
      <th>{{ can.refund_completed }}</th>

      <th>{{ can.amount_returned }}</th>
    </tr>

  </tbody></table>
<h1>Bill</h1>
<br>
<h4>Booking timing:From {{bill.0.start_time}} to {{bill.0.end_time}}</h4><br>
<h5>{{bill.0.restaurant_name}}</h5>
  <h5>Personal requirement:{{bill.0.personal_request}} </h5>

<table class="mdl-data-table mdl-js-data-table">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Item</th>
      <th>Quantity</th>
      <th>Actual Price</th>
        
      <th>Individual Total</th>
    </tr>
  </thead>
  <tbody>
  {% for x in bill.0.bill %}
    <tr>
      <td class="mdl-data-table__cell--non-numeric">{{x.name}}</td>
      <td>{{x.qos}}</td>        
        <td>₹{{x.price}}</td>
      <td>₹{{x.total}}</td>
    </tr>
    {% endfor %}
  
  </tbody>
  <tfoot>
  
  </tfoot>
</table>

<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="window.print()">
Print
</button>
 
</div>
</div>



{% endblock %}

{% block script_content %}
{% endblock %}