
{% extends "zaafoomain/base.html" %}

{% block head_title %}Careers{% endblock %}

{% block content %}
  <div id='page'>

<img src="/static/Careers.jpg">
<img src="/static/Careers_DM.jpg">

  </div>
{% endblock %}

{% block script_content %}
{% endblock %}