
{% extends "zaafoomain/base.html" %}

{% block head_title %}Contracts{% endblock %}

{% block content %}
  <div id='page'>

  <br/>
<a href="/static/Contract.docx">Restaurant Details</a>
<a href="/static/ContractPaper.docx">Contract Paper</a>
  </div>
{% endblock %}

{% block script_content %}
{% endblock %}