{% extends "zaafoomain/base.html" %}
 {% load mathfilters %}
{% block head_title %}My upcoming Bookings{% endblock %}

{% block content %}


<div class="mdl-grid" style="margin-left:20px;" id="locas">
<style>
.demo-list-three {
  width: 650px;
}
</style>

<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-phone">

<h1>Preordered</h1>
<table class="mdl-data-table mdl-js-data-table">
  <thead>
    <tr>
           <th class="mdl-data-table__cell--non-numeric">ID</th>
      <th class="mdl-data-table__cell--non-numeric">Customer</th>
      <th>FoodTotal</th>
      <th>Tax</th>
      <th>  Total</th>
        <th>  </th>
    </tr>
  </thead>
  <tbody>
  {% for x in book %}
    <tr>
    <td class="mdl-data-table__cell--non-numeric"><a href="/resbill/{{x.book.id}}">Detailed Bill</a></td>
      <td class="mdl-data-table__cell--non-numeric">{{x.book.customer}}</td>
      <td>{{x.book.foodtotal}}</td>

      <td>₹{{x.book.tax}}</td>
      <td>₹{{x.book.total}}</td>
    <td class="mdl-data-table__cell--non-numeric">{% if x.cancelable %}<a href="/cancelbooking/{{x.book.id}}">Cancel</a>{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>

{% endblock %}

{% block script_content %}
{% endblock %}