{% extends "zaafoomain/base.html" %}
 
{% block head_title %}{% endblock %}

{% block content %}
 <form   action="/cuslogin/" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        {{ form}}

        <span  style="color:red;">{{errmsg}}</span>
                           <!--  <div class="mdl-textfield }}mdl-js-textfield">
             <input class="mdl-textfield__input" type="text" id="username">
    <label class="mdl-textfield__label" for="username">Username</label>
               
            </div>
        <br/>
      <div class="mdl-textfield mdl-js-textfield">
             <input class="mdl-textfield__input" type="password" id="password">
    <label class="mdl-textfield__label" for="password">password</label>
               
            </div>
            
            <br/> -->
         <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
  Login
</button>
                
            
        </form>
{% if resendemail %}
<a href="/new-activation-link/{{uid}}">Resend Email</a>
{% endif %}
{% endblock %}

{% block script_content %}
{% endblock %}