{% extends "zaafoomain/base.html" %}
 {% load mathfilters %}
{% block head_title %}Book a Restaurant{% endblock %}

{% block content %}
<script type="text/javascript" src="/static/js/tablebooking.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<style>


#name{
  position:relative;
}
.letspace{
  letter-spacing:2px;
}
.rev-list-item {
  width: 300px;
}
.inline{
  display:inline;
}
.design{
      line-height: 37px;
    height: 37px;
    border-radius: 4px;
    background: rgba(255,255,255,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
    border: 1px solid #fff;
    border-color: rgba(255,255,255,.25)
}
.high-list-icon {
    display:inline-flex;
}


ul#highlight li{
  display:inline;
}
.letspace{
  letter-spacing: 2px;
}
.spacing{
  letter-spacing: 1px;
}
.space{
  margin:6px;
}
</style>
<section  id="text-carousel-intro-section " class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(/{{restim.imagecontent.url}});background-attachment: fixed;
    background-size: cover;">
        <div class="container wht cent rale " style='background:rgba(0,0,0,0.5);'>
          <div class="caption text-center text-white" data-stellar-ratio="0.7">

            <div id="owl-intro-text" class="owl-carousel">
              <div class="item  letspace" id='name'>
                <div ><h2 class='rale'  ><i class='material-icons md-24'>restaurant</i>&nbsp;&nbsp;&nbsp;{{rest.rname}}
 &nbsp;&nbsp;&nbsp;&nbsp;<i class="material-icons">grade</i>&nbsp;{{rank}}</h2>
                <br>
                <hr class='mar' style='width:55%;'>
                <h4 class='spacing' style="font-weight: 300;">{{rest.street_address}}</h4>
                <br>
                <ul class="rev-list-item mdl-list mar" style="width:300px;">
  <li class="mdl-list__item inline">
    <span class="mdl-list__item-primary-content">
    <button   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent design letspace" 
    onclick="location.href='/customerfeedback/{{request.session.rest}}';" style='background-color:rgba(0,0,0,0.15);font-weight: 400;'>
  <i class='material-icons'>edit</i>&nbsp;Write Review
</button>
    </span>
  </li>
</ul>
                <br>
                </div>
  
              </div>
              
            </div>

          </div> <!-- /.caption -->
        </div> <!-- /.container -->

      </section>
    <style>
      .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after{
        background: indigo;
      }
      </style>
      <div style='padding-top:20px; font-color:#C93A1A;' class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
      <a href="#about-panel" style="font:2.0em; color:#000000;" class="mdl-tabs__tab is-active">About</a>
      <a href="#menu-panel" style="font:2.0em; color:#000000;" class="mdl-tabs__tab">Menu &amp; Booking</a>
      <a href="#rating-panel" style="font:2.0em; color:#000000;" class="mdl-tabs__tab">Ratings &amp; Feedback </a>
  </div>

  <div class="mdl-tabs__panel is-active" id="about-panel">
    <h4>{{rest.rname}} location and details</h4>
 <div class="mdl-grid">
 <div class="mdl-cell mdl-cell--6-col"> <h5><b>About</b><br/>  </h5>{{rest.description}} </div>
 <div class="mdl-cell mdl-cell--6-col">  
   <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCwndyjn7SiaWXRRPKQxfvCe8ZECaBMJiA'></script>
     <div style='overflow:hidden;height:400px;width:400px;'>
         <div id='gmap_canvas' style='height:400px;width:520px;'></div>
         <style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
     </div>
     <a href='https://indiatvnow.com/'>Movies&Series from INDIA</a>
     <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=bcdc291802e8cdb2446456b8fd54087ff7629359'></script><script type='text/javascript'>function init_map(){var myOptions = {zoom:15,center:new google.maps.LatLng({{rest.lat}},{{rest.lon}}),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng({{rest.lat}},{{rest.lon}})});infowindow = new google.maps.InfoWindow({content:'<strong>{{rest.rname}}</strong><br>{{rest.street_address}}'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script></div></div>
  </div>

  <div class="mdl-tabs__panel" id="menu-panel">

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#accordion" ).accordion({heightStyle: "content",heightStyle: "content",active: false, collapsible: true});
  } );
  </script>
 <style>


    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #000000;
    background: rgb(255,64,129);
    font-weight: normal;
    color: #ffffff;
}

</style>
 <div class="mdl-grid">

 <div class="mdl-cell mdl-cell--4-col">  </div>
  <div class="mdl-cell mdl-cell--2-col">  
<h3>Pick a date and time</h3>
      <h4 id="timeselected"></h4>
  <div class=" col-md-4">
  <div  class="date-picker-2" placeholder="Recipient's username" id="ttry" aria-describedby="basic-addon2"></div>
  <span class="" id="example-popover-2"></span> </div>
<div id="example-popover-2-content" class="hidden"> </div>
<div id="example-popover-2-title" class="hidden"> </div>
</div></div>
  <div class="mdl-grid"  id="locas">
   <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-phone">     
<ul class="demo-list-three mdl-list" id="menulist">
<h3>Menu</h3>
<div id="accordion">
{% for restss in resmenu %}  

    <h3>{{ restss.Cuisine }}</h3>
    <div>
    <ul class="demo-list-three mdl-list"  >
        {% for menus in restss.Menus %}
<li class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-icon">star
</i>
      <span><a href="#">{{menus.name}}</a> </span>

      <span class="mdl-list__item-sub-title">₹{{menus.price}} <span class="mdl-list__item-text-body">
        {{menus.description}}
      </span>  </span>
    </span>
    
    <span class="mdl-list__item-secondary-content">
      <span class="mdl-list__item-secondary-info">{{menus.cuisine}}</span>
      <input type="number" name="quantity" value=0 min="0" max="10">
      <input type="hidden" name="menuid" value="{{menus.id}}">
    </span>
  </li>
            {% endfor %}
        </ul>
</div>
 

{% endfor %}
</div>

</ul>
<textarea id="taPR" rows="4" cols="50" placeholder="Enter Your Personal Request Here...">
</textarea>
</div>
<div class="mdl-cell mdl-cell--6-col "> 
<h3>Book Table</h3>

 <div class="mdl-select mdl-js-select mdl-select--floating-label">

{#  <label class="mdl-textfield__label" for="sample2">Select number of people</label>#}
         <select class="mdl-select__input"    id="dl_packs" onchange="nopchanged(this)">
        <option>Select number of people</option>

        </select>
        </div>
<style type="text/css">
    #layout { height: 1000px; }
    .model-chair, .model-table { fill: #ddd; stroke-width: 2;}
    .model-table:hover { fill: #46ce0d; }
    .model-table.selected { fill: #00c1f2; }
    .model-table.booked { fill: #d40015; }

    .model-chair:hover { fill: #009900; }
    .model-chair.selected { fill: #990000; }
    .model-chair.booked { fill: #00c1f2; }
    svg.layout {
    margin-left: -70px;
    width: 600px;
}
  </style>
{% load mathfilters %}
<div id="layout"></div>
<script type="text/javascript" src="/static/js/bong.layout.min.js"></script>
<script type="text/javascript">
  var models = {
    chair: '<path d="M846 5883 c-22 -44 -65 -107 -102 -149 l-64 -71 0 -173 0 -174 73 ' +
        '-75 c40 -42 86 -92 102 -112 18 -22 60 -52 102 -73 l73 -36 225 0 225 0 0 -75 ' +
        '0 -75 -72 0 c-58 0 -106 -10 -256 -56 -101 -31 -200 -63 -219 -71 -20 -8 -121 ' +
        '-83 -224 -166 l-189 -152 -111 -255 c-62 -140 -120 -282 -130 -315 -10 -33 ' +
        '-43 -219 -75 -413 l-57 -352 62 -358 63 -357 121 -252 121 -253 191 -183 190 ' +
        '-184 115 -28 c63 -15 164 -43 223 -61 79 -25 127 -34 178 -34 l69 0 0 -80 0 ' +
        '-80 -228 0 -227 0 -40 -27 c-22 -15 -44 -32 -50 -39 -5 -6 -33 -27 -61 -45 ' +
        '-28 -19 -83 -69 -123 -113 l-71 -78 0 -177 0 -176 101 -108 c81 -86 115 -115 ' +
        '170 -143 l69 -34 870 0 870 0 68 34 c99 51 147 108 222 264 l64 132 -28 88 ' +
        'c-15 48 -46 129 -68 180 l-41 93 -106 72 -106 72 -197 3 -198 3 0 80 0 79 188 ' +
        '0 c183 0 191 1 278 30 63 22 121 52 199 104 l111 73 71 134 c98 185 122 286 ' +
        '130 561 l6 198 79 0 78 0 0 -192 c-1 -170 -5 -217 -33 -394 l-33 -201 41 -135 ' +
          'c41 -134 42 -136 111 -212 l69 -76 113 -37 112 -37 78 38 c139 69 160 93 263 ' +
        '305 l91 186 29 280 c52 503 89 1055 89 1319 0 213 -3 266 -30 455 -22 158 -30 ' +
        '251 -30 361 0 123 -5 170 -29 291 -17 79 -44 184 -60 233 -42 121 -119 208 ' +
        '-266 300 l-105 66 -120 0 -120 0 -77 -81 -78 -81 -37 -132 c-36 -122 -38 -140 ' +
        '-38 -266 0 -120 4 -146 30 -235 28 -95 30 -109 30 -287 l0 -188 -83 0 -83 0 4 ' +
        '188 c4 163 1 197 -16 267 -38 151 -57 201 -122 319 l-65 119 -101 68 c-56 37 ' +
        '-142 84 -190 104 l-89 36 -197 6 -198 6 0 74 0 73 183 0 183 0 90 44 c60 30 ' +
        '99 57 120 83 45 55 96 162 135 280 l33 102 -104 215 -104 216 -1011 0 -1011 0 ' +
        '-38 -77z"/>',
    table_round: '<circle cx="50" cy="50" r="40" />',
    table_square: '<rect width="40" height="40"/>'
  }

  function chairClick(event, target){
    var target = target ? target : this,
      cssClass = target.getAttribute("class");
    if(cssClass.indexOf("selected") == -1){
      target.setAttribute("class", cssClass + " selected");
    } else {
      target.setAttribute("class", cssClass.substr(0, cssClass.indexOf("selected")));
    }


    
  }
  var ntchosen=0;

  function tableClick(event, target){
    var target = target ? target : this,
      cssClass = target.getAttribute("class"),
      chairs = target.getAttribute("data-chairs").split(",");
      
   if(cssClass.indexOf("booked")==-1) {

       if (cssClass.indexOf("selected") == -1) {


           if(ntchosen==getTable(target.getAttribute("table-id")).capacity) {
               selectTable(target.getAttribute("table-id"));


               ntchosen=0;
           }
       } else {
           if(ntchosen==0) {
               unselecttable(target.getAttribute("table-id"));
               ntchosen=getTable(target.getAttribute("table-id")).capacity;



           }
       }
   }
   }

  function getElementsByAttributeValue(attribute, value){
    var matchingElements = [];
    var allElements = document.getElementsByTagName('*');
    for (var i = 0, n = allElements.length; i < n; i++) {
      if (allElements[i].getAttribute(attribute) == value){
        // Element exists with attribute. Add to array.
        matchingElements.push(allElements[i]);
      }
    }
    return matchingElements;
  }
   var alltable=[];
   var w = window.innerWidth;
   var sc=0.8;
if (w<800) {
  sc=0.6;
}
  var layout = new Layout({
    wrapper_id : "layout",
    afterRender: function(){
      document.getElementsByTagName("svg")[0].setAttribute("style","transform: scale("+sc+", "+sc+")");
    },
    map: [{
      model: "<polygon points='{{flp}}' class='floor'></polygon>"
    }
    {% with count=1%}
{% for tabx in tabls%},
    {
      {% with x=tabx.x|mul:100 y=tabx.y|mul:100 %}
      model: models.chair,
      transform: {
        scale: { x: 0.005, y: 0.005 },
      },
      transforms: [{% if tabx.personstosit == 4 %}{
          translate: { x: {{x|add:35}}, y: {{y|add:40}} },
          rotate: { x: 90, y: 90, z: 0 }
        },{% endif %} {
          translate: { x: {{x|sub:05}}, y: {{y|add:35}} },
          rotate: { x: 180, y: 270, z: 0 }
        }, {% if tabx.personstosit == 4 %}{
          translate: { x: {{x|add:5}}, y: {{y}} },
          rotate: { x: 270, y: 0, z: 0 }
        },{% endif %}  {
          translate: { x: {{x|add:45}}, y: {{y|add:5}} },
          rotate: { x: 0, y: 0, z: 0 }
        },

      ],
      event: {
        click: chairClick
      },
      class: "model-chair",
      dom_attributes: [
          {% for foo in tabx.chairs %}
        { "data-index": {{foo.chairno}}, "data-special": "ok" },
          {% endfor %}
        //{ "data-index": 5, "data-special": "ok" }
      ]
    },{
      model: models.table_square,
      transforms: [{
        translate: { x: {{x}}, y: {{y}} }
      }],
      events: [{
        click: tableClick
      }],
      "class": "model-table",
      dom_attributes: [
        { "data-chairs": "{% for foo in tabx.chairs %}{{foo.chairno}},{% endfor %}","table-id":"{{ tabx.id }}" }
      ],
    }


    {% endwith %}

{%endfor%}
{% endwith %}



    ]
  });


 var xlayout=document.getElementsByClassName("model-table");
 
for(count=0;count<xlayout.length;count++)
{
    chairs = xlayout[count].getAttribute("data-chairs").split(",");
    addTable(parseInt(xlayout[count].getAttribute("table-id")),false,false,chairs.length-1,xlayout[count]);
//     var newText = document.createElementNS("http://www.w3.org/2000/svg","text");
// newText.setAttributeNS(null,"x",2);     
// newText.setAttributeNS(null,"y",20); 
// newText.setAttributeNS(null,"font-size","10");
// newText.setAttributeNS(null,"fill","black");
// var textNode = document.createTextNode("Hellp");
// newText.appendChild(textNode);
// xlayout[count].appendChild(newText);   
}
var svglayout=document.getElementById("layout").firstChild.firstChild;
var newText="";
{% for txt in floortext%}
 newText = document.createElementNS("http://www.w3.org/2000/svg","text");
newText.setAttributeNS(null,"x",{{txt.x|mul:100}});     
newText.setAttributeNS(null,"y",{{txt.y|mul:100}}); 
newText.setAttributeNS(null,"font-size","14");
newText.setAttributeNS(null,"fill","black");
newText.setAttributeNS(null,"transform","rotate({{txt.degree}},{{txt.x|mul:100}},{{txt.y|mul:100}})");

var textNode = document.createTextNode("{{txt.txt}}");
newText.appendChild(textNode);
svglayout.appendChild(newText);
{%endfor%}

  var count;
var emptychairs=0;
  var allchairs=0;
  var bookedchairs=0;
  {% for tabbook in tablbook %}

bookTable({{ tabbook.id }});
  {% endfor %}
emptychairs=getemptychairs();
  var dlpks=document.getElementById("dl_packs");

for(var i=1;i<=emptychairs;i++)
{
    var option = document.createElement("option");
    option.text = i;
    option.value = i;
    dlpks.add(option);
}
function nopchanged(sel) {
    ntchosen=0;


    filltable(sel.value);

}

</script>


 </div>
 <div class="mdl-grid" >
  <div class="mdl-cell mdl-cell--12-col">  



 <!--
      <input class="form-control text-box single-line" data-val="true" data-val-date="The field Quando must be a date." data-val-required="The Quando field is required." id="ExecutionDate" name="ExecutionDate" placeholder="Quando" value="15/03/2015 22.26" type="datetime-local" oninput="datesReaction()" onchange="fetchtables()">-->
<script>


    var ExecutionDate="";
$(document).ready(function(){
    function getCookie(c_name) {
        if(document.cookie.length > 0) {
            c_start = document.cookie.indexOf(c_name + "=");
            if(c_start != -1) {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if(c_end == -1) c_end = document.cookie.length;
                return unescape(document.cookie.substring(c_start,c_end));
            }
        }
        return "";
    }

    $(function () {
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": getCookie("csrftoken")
            }
        });
    });
});
        function fetchtables() {


$.ajax({
        url: "http://zaafoo.com/fetchRestaurantBookings/",
        data: {
            datetime: ExecutionDate,
            restid:{{ resid }}
        },
        type: 'POST',
        error: function(xhr, error){
        console.debug(xhr); console.debug(error);
 },
        success: function(data){
            ntchosen=0;
            bookedchairs=0;
            emptychairs=0;
   
            clearTablefields();
                       for(var k=0;k<data.bookedtables.length;k++)
            {
                
                bookTable(data.bookedtables[k].id);

            }
        emptychairs=getemptychairs();
        selelm=document.getElementById("dl_packs");
        selelm.selectedIndex = 0;
var length = selelm.options.length;
for (i = 1; i < length; i++) {
  selelm.remove(i);
}
$('#dl_packs').find('option').remove().end().append('<option value="whatever">Select number of people</option>').val('whatever');
for(var i=1;i<=emptychairs;i++)
{
    var option = document.createElement("option");
    option.text = i;
    option.value = i;
    selelm.add(option);
}

        }
    });}
if(w<800)
{
  var taklamakan=document.getElementsByClassName("layout");
  taklamakan[0].style.marginLeft="-120px";

}
</script>


<form method="post" action="" class="form-horizontal">
            {% csrf_token %}
            {{ form1}}
            <a class="mdl-button mdl-button--raised mdl-button--accent mdl-button--colored mdl-js-button mdl-js-ripple-effect"  href="#" onclick="menuandtablejsonify();">
      Book
    </a>
  </form>
<script>
var datesafety="{{datesafety}}" ;
console.log(datesafety);
var currdate=new Date(datesafety);
console.log(currdate);

  $('.date-picker-2').popover({
      html : true, 
      content: function() {
        return $("#example-popover-2-content").html();
      },
      title: function() {
        return $("#example-popover-2-title").html();
      }
    });
    
  $(".date-picker-2").datepicker({
      onSelect: function(dateText) { 
        $('#example-popover-2-title').html('<b>Avialable Appiontments</b>');
        var seldate=new Date(dateText);
        console.log(dateText)
        var seld=seldate.getDate();
        var selm=seldate.getMonth();
        var accdate=currdate;
        var accd=accdate.getDate();
        var accm=accdate.getMonth();
        var acch=accdate.getHours();
        times=[];
        if ((seld==accd)&&(selm==accm)&&(acch>=9)) {
          var accm=accdate.getMinutes();
          accm=accm+30;
          if (accm=>60) {
            accm=accm-60;
            acch=acch+1;

          }
          accm=accm+(15-(accm%15));
          hourcreate(accm,acch,22);
          
        }
        else{
        var someDate = new Date();
        var numberOfDaysToAdd = 10;
        someDate.setDate(someDate.getDate() + numberOfDaysToAdd); 
        seldate.setTime(seldate.getTime()+(12*60*60*1000))
        if(seldate<someDate&&seldate>=accdate){
          hourcreate(0,10,22);
}}
        
    var html = "";
    for (var i = 0; i < times.length; i++) {
         html=html+'<button  class="mdl-button mdl-js-button mdl-button--raised  space" onclick=datesReaction("'+dateText+'","'+times[i]+'")>'+times[i]+'</button>' 
        }
    $('#example-popover-2-content').html('Avialable Appiontments On <strong>'+dateText+'</strong><br>'+html);
    $('.date-picker-2').popover('show');
     
    
    
    }
})
function hourcreate(accm,start,end)
{
          for (var i = start ; i < end; i++) {
            
              while(1)
              {
                if (accm%60==0) {
                var dstr=i+":00";  
                }
                else{
                var dstr=i+":"+(accm%60);  
                }
                
                times.push(dstr);
                accm=accm+15;
                if (accm%60==0) {
                  break;
                }
              }
              }
        }

function formatDate(date) {
  var hours = date.getHours();
  var minutes = date.getMinutes();
  var ampm = hours >= 12 ? 'pm' : 'am';
  hours = hours % 12;
  hours = hours ? hours : 12; // the hour '0' should be '12'
  minutes = minutes < 10 ? '0'+minutes : minutes;
  var strTime = hours + ':' + minutes + ' ' + ampm;
  return date.getDate() + "/" + (date.getMonth()+1) + "/" + date.getFullYear() + "  " + strTime;
}
function datesReaction (a,b) {

date1=a.split('/');
time1=b.split(':');
console.log(a);
console.log(b);
console.log(date1);
var d1=new Date(date1[2],date1[0]-1,date1[1],time1[0],time1[1],0,0)
console.log(d1);
ExecutionDate=d1.getFullYear().toString()+'-'+(d1.getMonth()+1).toString()+'-'+d1.getDate().toString()+' '+d1.getHours().toString()+':'+d1.getMinutes().toString()+':00';
var selecteddated=document.getElementById("timeselected");
selecteddated.innerHTML="Selected Date "+formatDate(d1);
fetchtables();
$('.date-picker-2').popover('hide');

}
</script> 
<style>
.popover {
 /* left: 40% !important;*/
}
.btn {
  margin: 1%;
}
</style>
 </div>
 </div>
  </div>
  </div>
  <div class="mdl-tabs__panel" id="rating-panel">
 <div class="mdl-grid" style="margin-left:20px;">
    <div class="mdl-cell mdl-cell--12-col ">
<!-- Three Line List with secondary info and action -->
<style>
    .mdl-textfield{
    width:100%;
}
.demo-list-three {
  width: 100%;
    alignment: center;
}
    .numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 80px;
    height: 80px;
    padding: 8px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 32px Arial, sans-serif;
}
#add input[type="text"],#add textarea,
#add input[type="password"]{font-family:Arial, Verdana, sans-serif;line-height:140%;padding:3px;}
#add input[type="text"],
#add input[type="password"]{height:31px;width:354px;margin:4px;}
#add textarea{height:120px;width:423px;padding:15px;}
#add input[type="text"]:focus,
#add textarea:focus{color:black;}
#add{
  display:none;
  margin-top: 20px;
}
#add label{
  font-weight: bold;
  letter-spacing: 1px;
}
</style>
<h3>Restaurant Ratings and Feedback  </h3>


    <div class="numberCircle" style="alignment:center">{{ rank }}</div>
        <a id='feed' class="mdl-button mdl-button--raised mdl-button--accent mdl-button--colored mdl-js-button mdl-js-ripple-effect"  href="/customerfeedback/{{request.session.rest}}" >
      Add Feedback
    </a>
    
<br/>
    <form id='add' action='' method='post'>
     <fieldset>
       <label for='title' >Title</label><br/>
<input type='text' required name='title'  value='' maxlength="50" /><br/><br/>
<label for='description' >Description</label><br/>
<textarea placeholder="Enter your description here.."></textarea> <br/><br/>
<input class="button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type='submit' name='Submit' value='SUBMIT' /> 
     </fieldset>
    </form>

<ul class="demo-list-three mdl-list">
    {% for cusf in feedbacks %}

  <li class="mdl-list__item mdl-list__item--three-line"  >
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>{{ cusf.customer.first_name }} : {{ cusf.title }} </span>
      <span class="mdl-list__item-text-body">
          {{ cusf.description }}
      </span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" href="#">
          {% with ''|center:cusf.rating as range %}
{% for _ in range %}
    <i class="material-icons">star</i>
{% endfor %}
{% endwith %}
          </a>
    </span>
  </li>
    {% endfor %}
 </ul>

    </div>
    </div>
  </div>
</div>
<style>
   .mdl-textfield{
    width:100%;
}
.demo-list-three {
  width: 100%;
    alignment: center;
}
    .numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 80px;
    height: 80px;
    padding: 8px;
    margin-left: 45%;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 32px Arial, sans-serif;
}

#id1,#id2,#id3,#id4{
color:#ffffff;
}
#view-source {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
}
</style>

<script type="text/javascript">
    $("#feed").click(function(){
        $("#add").slideToggle("slow");
    });
var jsnlis;
function  menuandtablejsonify()
{
    var b=getchosentables();
    if(b.length==0)
    {
        alert('Select at number of people');
        return;
    }
    if (ntchosen>0)
    {
        alert('Select 1 more table for '+ntchosen+' person');
        return;
    }
    var bookt="'tablnos':[";
  var menusstring="{'menus':[";
    chosentabs=getchosentables();
    for(var j=0;j<chosentabs.length;j++)
    {
        bookt=bookt+"{\'tableid\':"+chosentabs[j].tableid+"}";
        if(!(j==(chosentabs.length-1))){
            bookt=bookt+',';
        }
        else {
            bookt=bookt+']';
        }

    }
    if (ExecutionDate=="") {
       alert('Select time for Booking');
        return; 
    }
    var valss=document.getElementsByName("quantity");
    var menind=document.getElementsByName("menuid");
    
      for (var i = menind.length - 1; i >= 0; i--) {
          
    
         if (valss[i].value!=0) {
         menusstring=menusstring+"{\'menuid\':"+menind[i].value+",\'value\':"+valss[i].value+"}";

           
         menusstring=menusstring+",";
       }
      }
      var dl_packs=document.getElementById("dl_packs");
      var pr=document.getElementById("taPR");
      var selvalue=chosentabs.length;
      var bnm=pr.value.toString();
    
      bnm=bnm.substring(0,bnm.length-1);
          
      menusstring=menusstring+"],"+bookt+",\'date\':\'"+ExecutionDate+"\',\'tables\':"+selvalue+",\'PersonalRequest\':\'"+bnm+"\'}";

    
      var json = JSON.stringify(eval("(" + menusstring + ")"));
      var hiddn=document.getElementById("id_rideschoices");
      hiddn.value=json;
      var foms=document.getElementsByTagName("form")[0];
      foms.submit();
  }
  

 
  

    

</script>





{% endblock %}

{% block script_content %}
    <style>
    #view-source {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
}
    #offer{
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 80px;
    z-index: 900;
    }
    </style>
     <div class="wide-card mdl-card mdl-shadow--2dp" id="offer">
            <div class="mdl-card__title">
               <h2 class="mdl-card__title-text">Introductory Offer</h2>
            </div>
            <div class="mdl-card__supporting-text">
               Get a discount of {{ discount }}% on bills above ₹{{ minprice }}. Get waiver off table charges worth ₹40 per table on purchases above ₹{{ waiverprice }}.
            </div>
            <div class="mdl-card__actions mdl-card--border">
               <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Amazing Offers</a>
            </div>
            <div class="mdl-card__menu">
               <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="material-icons">share</i></button>
            </div>
         </div>
<button target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast"
        data-upgraded=",MaterialButton,MaterialRipple">OFFERS
    <span class="mdl-button__ripple-container">
        <span class="mdl-ripple is-animating" style="width: 255.952px; height: 255.952px; transform: translate(-50%, -50%) translate(53px, 26px);"></span></span>
</button>
    <script>

    $( "#view-source" ).click(function() {
  $( "#offer" ).toggle( "slow", function() {
    // Animation complete.
  });
});
    </script>
{% endblock %}