       {% extends "zaafoomain/base.html" %}
 {% load mathfilters %}
{% block head_title %}Book a Reastaurant{% endblock %}

{% block content %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
</script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <script>

    $(function() {
  $("#MenuName").autocomplete({
    source: "/api/get_drugs/9/",
    focus:function( event, ui ) {

        return false;
      },
    minLength: 2,
      select:function( event, ui ) {
        $( "#price" ).val( ui.item.value ).trigger('input');
        $("#MenuName").val(ui.item.label).trigger('input');
          $("#name").val(ui.item.label).trigger('input');
          $("#id").val(ui.item.id).trigger('input');

        return false;
      },
  });
});
    </script>
<div class="mdl-cell mdl-cell--6-col">
<div class="ui-widget">

  <label for="MenuName">Menu Name: </label>
  <input id="MenuName">
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>
var app = angular.module("myShoppingList", []).config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('{$');
    $interpolateProvider.endSymbol('$}');
});
app.controller("myCtrl", function($scope) {
    $scope.products = [];
    $scope.taxes=[{%   for tax in taxes %}{"name":"{{tax.name}}","pc":{{tax.pc}},}{% endfor %}];
    $scope.servicecharges=[{%   for tax in servicecharges %}{"name":"{{tax.name}}","pc":{{tax.pc}},}{% endfor %}];
    $scope.service_taxesgen=[{%   for tax in service_taxesgen %}{"name":"{{tax.name}}","pc":{{tax.pc}},}{% endfor %}];
    $scope.resdis=[{"pc":{{resdis.discountpc}},"min":{{resdis.minprice}}}];
    $scope.addItem = function () {
        $scope.errortext = "";
        if (!$scope.name) {return;}
        if ($scope.products.indexOf($scope.name) == -1) {
            $scope.products.push({id:$scope.id,name:$scope.name,price:$scope.price,quantity:0});
        } else {
            $scope.errortext = "The item is already in your shopping list.";
        }
        console.log($scope.products);
    };
    $scope.removeItem = function (x) {
        $scope.errortext = "";
        $scope.products.splice(x, 1);
    };
    $scope.menusubtotal= function () {
        count=0;
        for(row in $scope.products)
        {
            count=count+$scope.products[row].quantity*$scope.products[row].price;
        }
        return count;
    };
    $scope.discount=function () {
        if ($scope.menusubtotal()>=$scope.resdis[0].min)
        {
            return $scope.menusubtotal()*$scope.resdis[0].pc;
        }
        return 0;

    };
     $scope.menutotal=function () {
        return $scope.menusubtotal()-$scope.discount();

    };
    $scope.frightme=function () {
      var json = JSON.stringify(eval($scope.products));
      var hiddn=document.getElementById("id_rideschoices");
        hiddn.value=json;
      var foms=document.getElementsByTagName("form")[0];
      foms.submit();
    };
    $scope.total=function () {
        count=0;
        for(row in $scope.taxes)
        {
            count=count+$scope.taxes[row].pc*$scope.menutotal();
        }
        for(row in $scope.servicecharges)
        {
            count=count+$scope.servicecharges[row].pc*$scope.menutotal();
        }
        for(row in $scope.service_taxesgen)
        {
            count=count+$scope.service_taxesgen[row].pc*$scope.menutotal();
        }
        return count+$scope.menutotal();
    };

});
</script>

<div ng-app="myShoppingList" ng-cloak ng-controller="myCtrl" >
<button ng-click="addItem()" >Add</button>
<table class="mdl-data-table mdl-js-data-table" >
<tr ng-repeat="x in products">
<td>{$x.name$}</td><td>{$x.price$}</td><td><input type="number" ng-model="x.quantity"></td><td >{$ x.quantity*x.price $}<span ng-click="removeItem($index)" style="cursor:pointer;" class="w3-right w3-margin-right">×</span></td>
</tr>
    <tr><td>Menu Total</td><td></td><td></td><td>{$ menusubtotal()$}</td></tr>
    <tr><td>Discount</td><td>{$ resdis[0].pc*100 $}%</td><td></td><td>{$discount()$}</td></tr>
    <tr><td>Sub Total</td><td></td><td></td><td>{$menutotal()$}</td></tr>
    <tr ng-repeat="x in servicecharges"><td>{$x.name$}</td><td>{$x.pc*100$}%</td><td></td><td>{$menutotal()*x.pc$}</td></tr>
    <tr ng-repeat="x in service_taxesgen"><td>{$x.name$}</td><td>{$x.pc*100$}%</td><td></td><td>{$menutotal()*x.pc$}</td></tr>
    <tr ng-repeat="x in taxes"><td>{$x.name$}</td><td>{$x.pc*100$}%</td><td></td><td>{$menutotal()*x.pc$}</td></tr>
    <tr><td>Total</td><td></td><td></td><td>{$total()$}</td></tr>
</table>
    <button type="submit" ng-click="frightme()" >submit</button>



          <input type="text" style="display:none" ng-model="price" id="price">
          <input type="text" style="display:none" ng-model="id" id="id">
          <input type="text" style="display:none" ng-model="name" id="name">


</div>


</div>




<form method="post" action="" class="form-horizontal">
            {% csrf_token %}
            {{ form1}}
           </form>
{% endblock %}

{% block script_content %}

{% endblock %}