{% extends "zaafoomain/base.html" %}
 
{% block head_title %}{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
<h3>{{ RestData.restaurant }}</h3>
    <br/>
    <h4> Your Name : {{ RestData.Customer.first_name }} {{ RestData.Customer.last_name }}</h4>
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>


{% endblock %}

{% block script_content %}
{% endblock %}