
{% extends "zaafoomain/base.html" %}

{% block head_title %}{% endblock %}

{% block content %}
  <div id='page'>
<script>
     var time = new Date().getTime();
     $(document.body).bind("mousemove keypress", function(e) {
         time = new Date().getTime();
     });

     function refresh() {
         if(new Date().getTime() - time >= 60000)
             window.location.reload(true);
         else
             setTimeout(refresh, 10000);
     }

     setTimeout(refresh, 10000);
</script>

<section id="text-carousel-intro-section " class="parallax" data-stellar-background-ratio="0.5" style="background-image: url('/{{ restss.imagecontent.url }}');background-attachment: fixed;
    background-size: cover;">
        <div class="container wht cent rale " style='background:rgba(0,0,0,0.6)'>
          <div class="caption text-center text-white" data-stellar-ratio="0.7">

            <div id="owl-intro-text" class="owl-carousel">
              <div class="item">
                <h1 class='rale'>{{restss.restaurant.rname}}</h1>
                <p class='xl'>"There is no love sincerer than the love of food."</p>
                                <div class="extra-space-l"></div><div class="extra-space-l"></div>
                <a class="btn btn-blank" href="#"  role="button">View More!</a>
              </div>
              <div class="item">
                <h2>{{restss.restaurant.rname}}</h2>
                <p class='xl'>Faster, Easier and Safer.</p>
                <div class="extra-space-l"></div><div class="extra-space-l"></div>
                <a class="btn btn-blank" href="#"  role="button">View More!</a>
              </div>
              <div class="item">
                <h2>{{restss.restaurant.rname}}</h2>
                <p class='xl'>Your wish, your choice.</p>
                <div class="extra-space-l"></div><div class="extra-space-l"></div>
                <a class="btn btn-blank" href="#"  role="button">View More!</a>
              </div>
            </div>

          </div> <!-- /.caption -->
        </div> <!-- /.container -->
<div class="mdl-grid" style="margin-left:20px;" id="locas">
      <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-phone">
             <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" >
  <a href="/ownerTableBooking/{{restss.restaurant.id}}" style="color: #fff;text-decoration: none;">Manage Bookings</a></button>
      </div>
           <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-phone">
               <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
  <a href="/ownerMenuList/{{restss.restaurant.id}}" style="color: #fff;text-decoration: none;">Manage Menus</a>
</button>
      </div>
           <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-phone">
               <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
  <a href="/mycustomers/{{restss.restaurant.id}}" style="color: #fff;text-decoration: none;">My Customers</a>
</button>
      </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-phone">
               <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
  <a href="/ebill/" style="color: #fff;text-decoration: none;">E-Bills</a>
</button>
      </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-phone"><span class="mdl-badge" data-badge="{{cancelcount}}">
               <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" >
  <a href="/rescanbook/{{restss.restaurant.id}}" style="color: #fff;text-decoration: none;">Cancellations</a>
</button></span>
      </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-phone"><span class="mdl-badge" data-badge="{{newbookings}}">
               <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-button--colored" >
  <a href="/rescurrbook/{{restss.restaurant.id}}"  style="color: #fff;text-decoration: none;" >Preorder
</a>
</button></span>
      </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-phone">
               <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
  <a href="/respastbook/{{restss.restaurant.id}}" style="color: #fff;text-decoration: none;">Past Bookings</a>
</button>
      </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-phone">
               <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
  <a href="/feedback/{{restss.restaurant.id}}" style="color: #fff;text-decoration: none;">Customer Feedback</a>
</button>
      </div>
  </div>
      </section>

  </div>
{% endblock %}

{% block script_content %}
{% endblock %}