{% extends "zaafoomain/base.html" %}

{% block head_title %}Disclaimer{% endblock %}

{% block content %}
  <div id='page'>

<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Helvetica;
	panose-1:2 11 6 4 2 2 2 2 2 4;}
@font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"MS Mincho";
	panose-1:2 2 6 9 4 2 5 8 3 4;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:"\@MS Mincho";
	panose-1:2 2 6 9 4 2 5 8 3 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Calibri","sans-serif";}
p.justify-text, li.justify-text, div.justify-text
	{mso-style-name:justify-text;
	margin-right:0in;
	margin-left:0in;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
span.apple-converted-space
	{mso-style-name:apple-converted-space;}
.MsoChpDefault
	{font-size:12.0pt;}
@page Section1
	{size:595.0pt 842.0pt;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.Section1
	{page:Section1;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
</style>

  <div class=Section1>

<p class=MsoNormal align=center style='text-align:center'><b><span lang=EN-IN
style='font-size:18.0pt;font-family:"Helvetica","sans-serif";color:#626262;
letter-spacing:.2pt'>DISCLAIMER</span></b></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span
lang=EN-IN style='font-size:10.0pt;font-family:"Helvetica","sans-serif";
color:#626262;letter-spacing:.2pt'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span
lang=EN-IN style='font-size:10.0pt;font-family:"Helvetica","sans-serif";
color:#626262;letter-spacing:.2pt'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span
lang=EN-IN style='font-size:10.0pt;font-family:"Helvetica","sans-serif";
color:#626262;letter-spacing:.2pt'>The User expressly agrees and understands
that the use of this website or this service is solely at the risk of the user.
This website does not provide any warranty / liability against any information
or opinion obtained through the service. The content provided on the website is
general information and it does not constitute as legal opinion on any subject
matter. Zaafoo hospitality pvt ltd, its employees and representatives expressly
disclaim any and all liability against its parent company, Director's,
Shareholder's, Employees or other members of the Management towards any person,
or user, in relation to anything done by any person with regard to content of
the website and allied pages.Zaafoo Hospitality pvt ltd  does not warrant:</span></p>

<ul type=disc>
 <li class=MsoNormal style='color:#626262;text-align:justify;text-justify:inter-ideograph'><span
     lang=EN-IN style='font-size:10.0pt;font-family:"Helvetica","sans-serif";
     letter-spacing:.2pt'>&nbsp;that the service provided will be error free,
     secure, uninterrupted.</span></li>
</ul>

<p class=MsoNormal style='margin-left:.5in;text-align:justify;text-justify:
inter-ideograph'><span lang=EN-IN style='font-size:10.0pt;font-family:"Helvetica","sans-serif";
color:#626262;letter-spacing:.2pt'>&nbsp;</span></p>

<ul type=disc>
 <li class=MsoNormal style='color:#626262;text-align:justify;text-justify:inter-ideograph'><span
     lang=EN-IN style='font-size:10.0pt;font-family:"Helvetica","sans-serif";
     letter-spacing:.2pt'>that the service will meet your requirements;</span></li>
</ul>

<p class=MsoNormal style='margin-left:.5in;text-align:justify;text-justify:
inter-ideograph'><span lang=EN-IN style='font-size:10.0pt;font-family:"Helvetica","sans-serif";
color:#626262;letter-spacing:.2pt'>&nbsp;</span></p>

<ul type=disc>
 <li class=MsoNormal style='color:#626262;text-align:justify;text-justify:inter-ideograph'><span
     lang=EN-IN style='font-size:10.0pt;font-family:"Helvetica","sans-serif";
     letter-spacing:.2pt'>that the quality of products, services, or content,
     or any other information or material obtained or purchased through this
     website will meet your expectations.</span></li>
</ul>

<p class=MsoNormal style='margin-left:.5in;text-align:justify;text-justify:
inter-ideograph'><span lang=EN-IN style='font-size:10.0pt;font-family:"Helvetica","sans-serif";
color:#626262;letter-spacing:.2pt'>&nbsp;</span></p>

<ul type=disc>
 <li class=MsoNormal style='color:#626262;text-align:justify;text-justify:inter-ideograph'><span
     lang=EN-IN style='font-size:10.0pt;font-family:"Helvetica","sans-serif";
     letter-spacing:.2pt'>that any technical failures or errors in software
     will be corrected or replaced.</span></li>
</ul>

<p class=MsoNormal style='margin-left:.5in;text-align:justify;text-justify:
inter-ideograph'><span lang=EN-IN style='font-size:10.0pt;font-family:"Helvetica","sans-serif";
color:#626262;letter-spacing:.2pt'>&nbsp;</span></p>

<ul type=disc>
 <li class=MsoNormal style='color:#626262;text-align:justify;text-justify:inter-ideograph'><span
     lang=EN-IN style='font-size:10.0pt;font-family:"Helvetica","sans-serif";
     letter-spacing:.2pt'>the legal ability, competence, or quality of
     representation which may be provided by any of the lawyer or law firms
     which are listed through this website or any associate thereof.</span></li>
</ul>

<p class=MsoNormal style='margin-left:.5in;text-align:justify;text-justify:
inter-ideograph'><span lang=EN-IN style='font-size:10.0pt;font-family:"Helvetica","sans-serif";
color:#626262;letter-spacing:.2pt'>&nbsp;</span></p>

<ul type=disc>
 <li class=MsoNormal style='color:#626262;text-align:justify;text-justify:inter-ideograph'><span
     lang=EN-IN style='font-size:10.0pt;font-family:"Helvetica","sans-serif";
     letter-spacing:.2pt'>if a User uploads a program with a computer virus
     and/or left the virus on our system.</span></li>
</ul>

<p class=MsoNormal style='margin-left:.5in;text-align:justify;text-justify:
inter-ideograph'><span lang=EN-IN style='font-size:10.0pt;font-family:"Helvetica","sans-serif";
color:#626262;letter-spacing:.2pt'>&nbsp;</span></p>

<ul type=disc>
 <li class=MsoNormal style='color:#626262;text-align:justify;text-justify:inter-ideograph'><span
     lang=EN-IN style='font-size:10.0pt;font-family:"Helvetica","sans-serif";
     letter-spacing:.2pt'>if a user transmits any illegal or improper
     information to another user either knowingly, intentionally or unknowingly
     or unintentionally or by mistake.</span></li>
</ul>

<p class=MsoNormal><span lang=EN-IN style='font-size:10.0pt;font-family:"Helvetica","sans-serif";
color:#626262;letter-spacing:.2pt'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span
lang=EN-IN style='font-size:10.0pt;font-family:"Helvetica","sans-serif";
color:#626262;letter-spacing:.2pt'>Zaafoo Hospitality and its employees or
representatives disclaims any and all responsibility for the content posted on
this website such as reviews, comments and/or any other content at various places
in the website. Zaafoo Hospitality is neither publisher nor author of such
content. If any abusive, or offending information is found by the User, it
shall be brought to the notice of Zaafoo Hospitality<a name="_GoBack"></a>, and
the same shall be deleted as early as possible.</span></p>

<p class=MsoNormal><span lang=EN-IN style='font-family:"Times New Roman","serif"'>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-IN>&nbsp;</span></p>

</div>


  </div>

{% endblock %}

{% block script_content %}
{% endblock %}