{% extends "zaafoomain/baseres.html" %}

{% block head_title %}Ebilling{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <div id='page'>
 <h1>Ebilling</h1>


<div class="mdl-grid" style="margin-left:20px;" id="locas">
      <div class="mdl-cell mdl-cell--12-col">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Customer Name</th>
      <th>BookingID</th>
        <th>Table No</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">sayok</td>
      <td>2</td>
      <td><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="background-color: #00c853;color: #0d47a1">
  Arrived
</button></td>
    </tr>

    <tr>
      <td class="mdl-data-table__cell--non-numeric">parthu</td>
      <td>3</td>
      <td><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="background-color: #00c853;color: #0d47a1">
  Arrived
</button></td>
    </tr>
{% for foo in notarrived %}
<tr>
      <td class="mdl-data-table__cell--non-numeric">{{ foo.CustomerName }}</td>
    <td>{{ foo.BookingID }}</td>
    <td>{{ foo.Tables }}</td>
      <td><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="arrived({{foo.BookingID}})" style="background-color: #00c853;color: #0d47a1">
  Arrived
</button></td>
    </tr>
{% endfor %}


  </tbody>
    <script>
    menus=[];
         // var timeout = setTimeout("location.reload(true);",60000);
function arrived(bid)
{

    var json = JSON.stringify(eval("({'bookingid':" + bid + "})"));
      var hiddn=document.getElementById("id_rideschoices");
      hiddn.value=json;
      var foms=document.getElementsByTagName("form")[0];
      foms.submit();
}

    </script>
</table>
      <form method="post" action="" class="form-horizontal">
            {% csrf_token %}
            {{ form1}}
           </form>
      </div>
      <div class="mdl-cell mdl-cell--12-col" style="background-color:white">
<style>
    .mdl-accordion.mdl-accordion--opened{
  border: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  margin-top: -1px;}

.mdl-accordion.mdl-accordion--opened + .mdl-accordion.mdl-accordion--opened {
    border-top: none;
    margin-top: 0;
}

.mdl-accordion .mdl-accordion__content-wrapper {
    overflow: hidden;
}

.mdl-accordion .mdl-accordion__content {
    transition-property: margin-top;
    transition-duration: 0.2s;
}

.mdl-accordion .mdl-accordion__icon {
    transition-property: transform;
    transition-duration: 0.2s;
    color: rgba(0, 0, 0, 0.3);

    position: absolute;
    right: 6px;
    margin-top: -3px;
}

.mdl-accordion.mdl-accordion--opened .mdl-accordion__icon {
    transform: rotate(-180deg);
}
.mdl-accordion.mdl-accordion--opened .mdl-accordion__button {
    color: teal;
}
.mdl-accordion.mdl-accordion--opened .mdl-accordion__content {
    margin-top: 0 !important;

}

</style>


      <div class="mdl-accordion" >
        <a class="mdl-navigation__link mdl-accordion__button">
          <i class="material-icons mdl-accordion__icon mdl-animation--default">expand_more</i>
          Jyoti
        </a>
        <div class="mdl-accordion__content-wrapper">
          <div class="mdl-accordion__content mdl-animation--default">
           fkjbjfhdsfldskjf
          </div>
        </div>
      </div>


      <div class="mdl-accordion mdl-accordion--opened" >
        <a class="mdl-navigation__link mdl-accordion__button">
          <i class="material-icons mdl-accordion__icon mdl-animation--default">expand_more</i>
          Parthu
        </a>
        <div class="mdl-accordion__content-wrapper">
          <div class="mdl-accordion__content mdl-animation--default">
            <a class="mdl-navigation__link">Here</a>
            <a class="mdl-navigation__link">There</a>
          </div>
        </div>
      </div>
{% for foo in arrived %}

      <div class="mdl-accordion" >
        <a class="mdl-navigation__link mdl-accordion__button">
          <i class="material-icons mdl-accordion__icon mdl-animation--default">expand_more</i>
          {{ foo.CustomerName }}
        </a>
        <div class="mdl-accordion__content-wrapper">
          <div class="mdl-accordion__content mdl-animation--default">
              <div>Custom Requests:{{ foo.PersonalRequest }}</div>
              <br/>
              <div>Booking ID:{{ foo.BookingID}}</div>

            <table class="mdl-data-table mdl-js-data-table" data-upgraded=",MaterialDataTable">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Item</th>
      <th>Quantity</th>
      <th>Actual Price</th>
        <th>Discount Price</th>
        <th>Discount</th>
      <th>Individual Total</th>
    </tr>
  </thead>
  <tbody name="items">
{% for foo1 in foo.Menu%}

    <tr>
      <td class="mdl-data-table__cell--non-numeric">{{ foo1.MenuName }}</td>
      <td>{{ foo1.Quantity }}</td>

        <td>₹{{ foo1.PerPrice }}</td>
        <td>₹{{ foo1.DiscountedPrice }}</td>
        <td>₹{{ foo1.Discountpc }}</td>
      <td>₹{{ foo1.Total }}</td>
    </tr>

{% endfor %}
{% for foo1 in foo.Tables%}

    <tr>
      <td class="mdl-data-table__cell--non-numeric">Table</td>
      <td>{{ foo1.TableID }}</td>

        <td> </td>
        <td> </td>
        <td> </td>
      <td>₹{{ foo1.Price }}</td>
    </tr>

{% endfor %}


   <tr>
      <td class="mdl-data-table__cell--non-numeric">Add Items</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><!-- Colored FAB button with ripple -->
<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" onclick="additem({{forloop.counter0}},{{foo.BookingID}})">
  <i class="material-icons">add</i>
</button></td>
    </tr>
  </tbody>
  <tfoot>
  	<tr>
  	<th class="mdl-data-table__cell--non-numeric">Food Total</th>
      <th>{{ foo.Booking.foodtotal }}</th>
      <th></th>
        <th>{{ foo.Booking.foodtotal }}</th>
        <th>Total</th>
      <th>{{ foo.Booking.total }}</th>

  </tfoot>
</table>
          </div>
        </div>
      </div>

{% endfor %}
<script>




function additem(n,bid)
{
      $( "#BookingID" ).val(bid).trigger('input');
        $('#extrabilling').show ();

}



function finalize(bid)
{
    $( "#BookingID" ).val(bid).trigger('input');

}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>

  $(function(){
    $('.mdl-accordion__content').each(function(){
      var content = $(this);
      content.css('margin-top', -content.height());
    });
    $(document.body).on('click', '.mdl-accordion__button', function(){
      $(this).parent('.mdl-accordion').toggleClass('mdl-accordion--opened');
    });
  });
</script>

      </div>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
</script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <script>

    $(function() {
  $("#MenuName").autocomplete({
    source: "/api/get_drugs/{{ restid }}/",
    focus:function( event, ui ) {

        return false;
      },
    minLength: 2,
      select:function( event, ui ) {
        $( "#price" ).val( ui.item.value ).trigger('input');
        $("#MenuName").val(ui.item.label).trigger('input');
          $("#name").val(ui.item.label).trigger('input');
          $("#id").val(ui.item.id).trigger('input');

        return false;
      },
  });
});
    </script>
<div class="mdl-cell mdl-cell--12-col" id="extrabilling">
<div class="ui-widget">

  <label for="MenuName">Menu Name: </label>
  <input id="MenuName">
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>
var app = angular.module("myShoppingList", []).config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('{$');
    $interpolateProvider.endSymbol('$}');
});
app.controller("myCtrl", function($scope) {
    $scope.products = [];
    $scope.taxes=[{%   for tax in taxes %}{"name":"{{tax.name}}","pc":{{tax.pc}},}{% endfor %}];
    $scope.servicecharges=[{%   for tax in servicecharges %}{"name":"{{tax.name}}","pc":{{tax.pc}},}{% endfor %}];
    $scope.service_taxesgen=[{%   for tax in service_taxesgen %}{"name":"{{tax.name}}","pc":{{tax.pc}},}{% endfor %}];
    $scope.resdis=[{"pc":{{resdis.discountpc}},"min":{{resdis.minprice}}}];
    $scope.addItem = function () {
        $scope.errortext = "";
        if (!$scope.name) {return;}
        if ($scope.products.indexOf($scope.name) == -1) {
            $scope.products.push({menuid:$scope.id,name:$scope.name,price:$scope.price,value:0});
        } else {
            $scope.errortext = "The item is already in your shopping list.";
        }
        console.log($scope.products);
    };
    $scope.removeItem = function (x) {
        $scope.errortext = "";
        $scope.products.splice(x, 1);
    };
    $scope.menusubtotal= function () {
        count=0;
        for(row in $scope.products)
        {
            count=count+$scope.products[row].value*$scope.products[row].price;
        }
        return count;
    };
    $scope.discount=function () {
        if ($scope.menusubtotal()>=$scope.resdis[0].min)
        {
            return $scope.menusubtotal()*$scope.resdis[0].pc;
        }
        return 0;

    };
     $scope.menutotal=function () {
        return $scope.menusubtotal()-$scope.discount();

    };
    $scope.frightme=function () {
        var bstr={"bid":$scope.BookingID,"mq":$scope.products};
      var json = JSON.stringify(eval(bstr));
      var hiddn=document.getElementById("id_rideschoices");
        hiddn.value=json;
      var foms=document.getElementsByTagName("form")[0];
      foms.submit();
    };
    $scope.total=function () {
        count=0;
        for(row in $scope.taxes)
        {
            count=count+$scope.taxes[row].pc*$scope.menutotal();
        }
        for(row in $scope.servicecharges)
        {
            count=count+$scope.servicecharges[row].pc*$scope.menutotal();
        }
        for(row in $scope.service_taxesgen)
        {
            count=count+$scope.service_taxesgen[row].pc*$scope.menutotal();
        }
        return count+$scope.menutotal();
    };

});
</script>

<div ng-app="myShoppingList" ng-cloak ng-controller="myCtrl" >
<button ng-click="addItem()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"  >Add</button>
    <input type="text"  ng-model="BookingID" id="BookingID" disabled>
<table class="mdl-data-table mdl-js-data-table" >
<tr ng-repeat="x in products">
<td>{$x.name$}</td><td>{$x.price$}</td><td><input type="number" ng-model="x.value"></td><td >{$ x.value*x.price $}<span ng-click="removeItem($index)" style="cursor:pointer;" class="w3-right w3-margin-right">×</span></td>
</tr>
    <tr><td>Menu Total</td><td></td><td></td><td>{$ menusubtotal()$}</td></tr>
    <tr><td>Discount</td><td>{$ resdis[0].pc*100 $}%</td><td></td><td>{$discount()$}</td></tr>
    <tr><td>Sub Total</td><td></td><td></td><td>{$menutotal()$}</td></tr>
    <tr ng-repeat="x in servicecharges"><td>{$x.name$}</td><td>{$x.pc*100$}%</td><td></td><td>{$menutotal()*x.pc$}</td></tr>
    <tr ng-repeat="x in service_taxesgen"><td>{$x.name$}</td><td>{$x.pc*100$}%</td><td></td><td>{$menutotal()*x.pc$}</td></tr>
    <tr ng-repeat="x in taxes"><td>{$x.name$}</td><td>{$x.pc*100$}%</td><td></td><td>{$menutotal()*x.pc$}</td></tr>
    <tr><td>Total</td><td></td><td></td><td>{$total()$}</td></tr>
</table>
    <button type="submit" ng-click="frightme()" >Finalize</button>



          <input type="text" style="display:none" ng-model="price" id="price">
          <input type="text" style="display:none" ng-model="id" id="id">
          <input type="text" style="display:none" ng-model="name" id="name">


</div>


</div>

      </div>
<script>
    $('#extrabilling').hide();

</script>

</div>
{% endblock %}

{% block script_content %}
{% endblock %}