{% extends "zaafoomain/base.html" %}
{% block head_title %}{% endblock %}
{% block content %}

<h1>Edit Profile</h1>


<form method="POST" action="/editprofile/" class="" />
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>

{% endblock %}
{% block script_content %}
{% endblock %}