{% extends "zaafoomain/base.html" %}
 
{% block head_title %}Welcome to Zaafoo {% endblock %}

{% block content %}
<!-- Latest compiled and minified CSS -->


<!-- jQuery library -->


<!-- Latest compiled JavaScript -->
<!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    {% csrf_token %}
    <script>
    $(document).ready(function(){
    function getCookie(c_name) {
        if(document.cookie.length > 0) {
            c_start = document.cookie.indexOf(c_name + "=");
            if(c_start != -1) {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if(c_end == -1) c_end = document.cookie.length;
                return unescape(document.cookie.substring(c_start,c_end));
            }
        }
        return "";
    }

    $(function () {
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": getCookie("csrftoken")
            }
        });
    });
});


    </script>
  <div id='page'>
<section id="text-carousel-intro-section " class="parallax" data-stellar-background-ratio="0.5" style="background-image: url('/static/foo.jpg');background-attachment: fixed;
    background-size: cover;">
        <div class="container wht cent rale " style='background:rgba(0,0,0,0.6)'>
          <div class="caption text-center text-white" data-stellar-ratio="0.7">

            <div id="owl-intro-text" class="owl-carousel">
              <div class="item">
                <h1 class='rale'>Zaafoo</h1>
                <p class='xl'>"There is no love sincerer than the love of food."</p>
                                <div class="extra-space-l"></div><div class="extra-space-l"></div>
                <a class="btn btn-blank" href="#"  role="button">View More!</a>
              </div>
              <div class="item">
                <h2>Join with us</h2>
                <p class='xl'>Faster, Easier and Safer.</p>
                <div class="extra-space-l"></div><div class="extra-space-l"></div>
                <a class="btn btn-blank" href="#"  role="button">View More!</a>
              </div>
              <div class="item">
                <h2>Customer Priority</h2>
                <p class='xl'>Your wish, your choice.</p>
                <div class="extra-space-l"></div><div class="extra-space-l"></div>
                <a class="btn btn-blank" href="#"  role="button">View More!</a>
              </div>
            </div>

          </div> <!-- /.caption -->
        </div> <!-- /.container -->

      </section>
      <style>
.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color:#FF1493 ;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  height: 176px;
  
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
</style>
      <div class="mdl-grid" style="margin-left:20px;" id="locas">
<div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
       <i class="material-icons">place</i></div>
     <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
     <div class="mdl-select mdl-js-select mdl-select--floating-label">
        

        <select class="mdl-select__input"    id="places">
         
         
        </select>
        </div>
        </div>
           <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
     <div class="mdl-select mdl-js-select mdl-select--floating-label">


        <select class="mdl-select__input"    id="localities">


        </select>
        </div>
        </div>


   

                <script type="text/javascript">
                    
$.get("http://zaafoo.com/publicrest/cities/?format=json", function(data) {
  var options = '';
  for (var i = 0; i <=data.length - 1; i++) {
  options += '<option value="' + data[i].id + '">' + data[i].city_name + '</option>';}
  $("select#places").html(options);
  locast(data[0].id);
                      
  
}).fail(function(err) {
  $("#places").text("error" + JSON.stringify(err));
});
function locast(citid) {
    $.ajax({
        url: "http://zaafoo.com/localityview/",
        data: {
            cityid: citid
        },
        type: 'POST',
        error: function (xhr, error) {
            console.debug(xhr);
            console.debug(error);
        },
        success: function (data) {
            
            var initid=0;
            for (x in data){
                if(data[x].constructor===Array)
                {
                    var options = '';
                for(var j=0;j<=data[x].length-1;j++)
                {
                    if (j==0){
                        initid=data[x][j].id;
                    }
                    
                         options += '<option value="' + data[x][j].id + '">' + data[x][j].name + '</option>';
                }
                           $("select#localities").html(options);
                    break;
                }

            }
           loadres(initid);
        }

    });
}
$(document).on('change',"#places", function() {
     locast( $(this).val());
});
$(document).on('change','#localities',function () {
    loadres( $(this).val());
});
function loadres(locid) {
    $.ajax({
        url: "http://zaafoo.com/restlocal/",
        data: {
            localityid: locid
        },
        type: 'POST',
        error: function (xhr, error) {
            console.debug(xhr);
            console.debug(error);
        },
        success: function (data) {
            
                var  mydiv = document.getElementById('temp');
    while ( mydiv.firstChild ) mydiv.removeChild( mydiv.firstChild );
        for (var i = 0; i <=data.rests.length - 1; i++) {
          var child1=document.createElement('section') ;
           var child2=document.createElement('div');
          child2.classList.add('mdl-cell');
         child2.classList.add('mdl-cell--4-col');

         child1.appendChild(child2);
         var child3=document.createElement('div');

         child3.classList.add('demo-card-wide');
         child3.classList.add('mdl-card');
         child3.classList.add('mdl-shadow--2dp');

         var child4 =document.createElement('div');
         child4.classList.add('mdl-card__title');
         child4.style.background='url('+data.restimages[i].imagecontent+')center / cover';
         child4.style.position='relative';
         child4.style.padding='0px';

         var child41=document.createElement('div');
         child41.style.position='absolute';
         child41.style.left='0';
         child41.style.bottom='0';
         child41.style.width='100%';
         child41.style.backgroundColor='#120B0B'
         child41.style.opacity='0.7';
         //child41.style.color='#fff';
         
         var child5 =document.createElement('h2');
            child5.classList.add('mdl-card__title-text');
            child5.innerHTML='&nbsp&nbsp&nbsp&nbsp'+data.rests[i].rname;
            child5.style.fontFamily='"Times New Roman", Times, serif';
            child5.style.textAlign='center';
            child41.appendChild(child5);
            child3.appendChild(child4);
            child4.appendChild(child41);
         child41=document.createElement('div');
            child41.classList.add('mdl-card__supporting-text');
         child41.innerHTML=data.rests[i].description;
           child3.appendChild(child41);

         var child6 =document.createElement('div');
         child6.classList.add('mdl-card__actions');
         child6.classList.add('mdl-card--border');
         var child7 =document.createElement('a');
         child7.classList.add('mdl-button');
         child7.classList.add('mdl-button--raised');
            child7.classList.add('mdl-button--accent');
            child7.classList.add('mdl-button--colored');
            child7.classList.add('mdl-js-button');
            child7.classList.add('mdl-js-ripple-effect');
         child7.innerHTML='Book';
            child7.href="/cusResBook/"+data.rests[i].id;
            child6.appendChild(child7);
         child3.appendChild(child6);
         child2.appendChild(child3);
         mydiv.appendChild(child2);
 }
        }
});
}
</script>
      </div>
            <div class="mdl-grid" style="margin-left:20px;" id="temp">
{% for restss in restsowned %}  
<div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-phone">
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title" style="position: relative; padding: 0px; background:url('/{{ restss.imagecontent.url }}')center / cover;">

  <div style="position: absolute; left: 0; bottom: 0; width: 100%; background-color: #120B0B; opacity: 0.7; color: #fff;  text-align: center; " > 
    <h2   class="mdl-card__title-text" style=" padding-left: 10px; text-align: right; font-family: "Times New Roman", Times, serif;">{{restss.restaurant.rname}}<br>  
     </div>
  
     
  </div>

   <div class="mdl-card__supporting-text">
  {{restss.restaurant.description}}
  </div>
  <div class="mdl-card__actions mdl-card--border" >
    <a class="mdl-button mdl-button--raised mdl-button--accent mdl-button--colored mdl-js-button mdl-js-ripple-effect"  href="/cusResBook/{{restss.restaurant.id}}">
      Book
    </a>
  </div>
  
</div>
</div>

{% endfor %}
      </div>

  </div>
{% endblock %}

{% block script_content %}
{% endblock %}
