{% extends "zaafoomain/base.html" %}
 {% load mathfilters %}
{% block head_title %}Verify mobile Number{% endblock %}

{% block content %}
<br>
<h2>Manage your phone number</h2>
<input type="text" id="mob_number" value="{{number}}">
<label>{{errmsg}}</label>

<form method="post" action="" class="form-horizontal">
            {% csrf_token %}
            {{ form}}
            <a class="mdl-button mdl-button--raised mdl-button--accent mdl-button--colored mdl-js-button mdl-js-ripple-effect"  href="#" onclick="submits()">
      Send OTP
    </a>
  </form>
{%if otpsent%}
<input type="text" id="OTP">
            <a class="mdl-button mdl-button--raised mdl-button--accent  mdl-js-button mdl-js-ripple-effect"  href="#" onclick="verifyotp()">
      Verify
    </a>
    {%endif%}  
  <script type="text/javascript">
  	function submits()
  	{
  		var mob_number=document.getElementById("mob_number");
  		var OTP=document.getElementById("OTP");
  		var mobstring="{'mob':'"+mob_number.value+"'}";
	var json = JSON.stringify(eval("(" + mobstring + ")"));
      var hiddn=document.getElementById("id_rideschoices");
      hiddn.value=json;
  		var foms=document.getElementsByTagName("form")[0];
      foms.submit();
  	}
  	
  	function verifyotp()
  	{
  		var mob_number=document.getElementById("mob_number");
  		var OTP=document.getElementById("OTP");
  		var mobstring="{'OTP':'"+OTP.value+"'}";
	var json = JSON.stringify(eval("(" + mobstring + ")"));
      var hiddn=document.getElementById("id_rideschoices");
      hiddn.value=json;
  		var foms=document.getElementsByTagName("form")[0];
      foms.submit();
  	}
  </script>
{% endblock %}

{% block script_content %}
{% endblock %}