{% extends "zaafoomain/base.html" %}
 
{% block head_title %}{% endblock %}

{% block content %}


<div class="mdl-grid" style="margin-left:20px;" id="locas">
<style>
.demo-list-three {
  width: 650px;
}
</style>
 
<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">     
<h1>My Customers</h1>
<ul class="demo-list-three mdl-list">
{% load socialaccount %}
{% for restss in cuss %}  

<li class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-icon">accessibility
</i>
      <span><a href="/menu_edit/{{restss.id }}">{{restss.first_name}} {{restss.last_name}}</a> </span>

      <span class="mdl-list__item-sub-title">{{restss.email}} <span class="mdl-list__item-text-body">
           
      </span>  </span>
    </span>
    
    <span class="mdl-list__item-secondary-content">
      <span class="mdl-list__item-secondary-info">{{restss.email}}</span>
      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
    </span>
  </li>
{% for account in restss.socialaccount_set.all %}
 <h6 style="text-transform:capitalize;">{{ account.provider }} Account Information:</h6>
            <div class="">
                <p><img width="150" height="150" src="{{ account.get_avatar_url }}" /></p>
            </div>
            <table class="table table-striped">
                <tr>
                    <td>Username</td>
                    <td>{{ restss.username }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ account.extra_data.email }}</td>
                </tr>
                <tr>
                    <td>First Name</td>
                    <td>{{ account.extra_data.first_name }} {{ account.extra_data.given_name }}</td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>{{ account.extra_data.last_name }} {{ account.extra_data.family_name }}</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>{{ account.extra_data.gender }}</td>
                </tr>
                <tr>
                    <td>Profile Link</td>
                    <td><a href="{{ account.extra_data.link }}">{{ account.extra_data.link }}</a></td>
                </tr>
            </table>
{% endfor %}
{% endfor %}<a href="/createMenu">

<li><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
  <i class="material-icons">add</i>
</button></li></a>
</ul>
</div>
</div>






{% endblock %}

{% block script_content %}
{% endblock %}