{% extends "zaafoomain/base.html" %}

{% block head_title %}Privacy Policy{% endblock %}

{% block content %}
  <div id='page'>
 <h1>Zaafoo Privacy Policy

</h1>

      <b>Last Updated: November12, 2016

</b>
<br/>
<div class="mdl-grid" style="margin-left:20px;" id="locas">
      <div class="mdl-cell mdl-cell--10-col mdl-cell--8-col-phone">
This privacy policy (this “Policy”) explains how personal information is collected, used, and disclosed by Zaafoo, (“Zaafoo” or “we”). This Policy applies to consumer users (individually referred to as “you”) of Zaafoo websites, applications, and other online services (collectively, our “Sites”).
<br/><br/>


Other third parties, such as restaurants at which you make reservations through our Sites, restaurants that you pay through our Sites, you purchase through our Sites, and social networks that you use in connection with our Sites, may also collect, use, and share information about you. This Policy does not cover such third parties or their services. For information about third-party privacy practices, please consult with them directly.
<br/><br/>


INFORMATION COLLECT
<br/><br/>


We collect information about you in various ways when you use our Sites. We use this information to, among other things, provide the functionality and improve the quality of our Sites and personalize your experience. For example, we may collect your name, email address, postal address, phone number (including your mobile phone number), billing information, survey responses, demographics, primary dining city, current and prior restaurant reservation details, favorite restaurants, special restaurant requests, passwords, contact information of people you add to, or notify of, your restaurant reservations through our Sites, names and email addresses of recipients oand other information you provide on our Sites. If you use our mobile application, we may also collect your mobile device ID, your precise location data, and the restaurant search locations you select. For certain services on our Sites, credit or debit card account information may be required, as further described in the section called “Payment Card Information” below. We may also obtain information from other sources, such as third-party websites, applications, and services (each, a “Third-Party Platform”), through which you connect with our Sites and combine that with information we collect on our Sites.
<br/><br/>


When you visit our Sites, some information is automatically collected. For example, when you visit our Sites, we may automatically collect your location, computer operating system, Internet Protocol (IP) address, access times, browser type and language, and the website you visited before our Sites. We also collect information about your usage and activity on our Sites using certain technologies, such as Cookies, Web Beacons and other technologies. See our Cookies and Interest-Based Advertising Policy for more details.
<br/><br/>


HOW WE USE INFORMATION WE COLLECT
<br/><br/>


*We use personal information collected through our Sites for the purposes described in this Policy or disclosed to you on our Sites or otherwise in connection with our services. For example, we may use your information to:

<br/><br/>

*Make and change your restaurant reservations made through our Sites;
<br/><br/>
offer you, or provide you with, products and services, and the option to pay your bill at a restaurant through our Sites;
<br/><br/>
*Operate and improve our Sites, products, and services;
<br/><br/>
understand you and your preferences to enhance, personalize, and customize your experience and enjoyment using our Sites, products, and services, such as understanding your dining history to make recommendations about other restaurants you may like;
<br/><br/>
process and deliver contest entries and rewards;
<br/><br/>
*Display relevant advertising;
<br/><br/>
*respond to your comments and questions and provide customer service;
<br/><br/>
*send you information relating to our products and services, including reservation confirmations, receipts, technical notices, updates, security alerts, and support and administrative messages;
<br/><br/>
communicate with you about contests, offers, promotions, rewards, upcoming events, and other news about products and services offered by Zaafoo, our subsidiaries, and affiliates; select restaurants; and our other selected partners;
<br/><br/>
link or combine with other personal information we get from third parties to help understand your needs and provide you with better service;
<br/><br/>
authenticate your credit or debit card account information; and
<br/><br/>
protect, investigate, and deter against fraudulent, unauthorized, or illegal activity.
<br/><br/>
By providing your mobile phone number, you expressly consent to receive direct dial calls, autodialed and prerecorded message calls, and text messages from us relating to our product and services at that number.
<br/><br/>






HOW WE SHARE INFORMATION
<br/><br/>


Information Shared With Restaurants

<br/><br/>

When you make a restaurant reservation through our Sites, your information is provided to us and to the restaurants with whom you choose to reserve. In order to facilitate your reservation, your information is provided to that restaurant, just as it would if you made a reservation by calling the restaurant, emailing the restaurant, or using the restaurant’s website. If you provide a mobile phone number, restaurants may send you text messages regarding your reservation. Some restaurants also require you to provide credit or debit card account information to secure your reservation. When you make a restaurant reservation through our Sites and/or make a payment to a restaurant through our Sites, we may also share with the restaurants additional information, such as information about your dining preferences and history or information that we collect via Third-Party Platforms. You also have the option of indicating special preferences or providing comments about your reservation that Zaafoo will pass on to that restaurant.

<br/><br/>

We may share with restaurants summary reports of feedback from diners. If you provide comments about a restaurant through our Sites, these comments may be shared with that restaurant. We will not tie your comments with other information that can identify you, but a restaurant may be able to tell who you are from your comments, particularly if you give your name in the comments or provide contact information, such as an email address.
<br/><br/>


Information you choose to share with a restaurant when you make a reservation and/or pay a restaurant through our Sites may be used by the restaurant for its own purposes. zaafoo does not control, and is not responsible for, the privacy practices of restaurants. Please contact the restaurant directly if you want to learn about its privacy practices.
<br/><br/>




Payment Card Information
<br/><br/>




To use certain services on our Sites, such as to make reservations at certain restaurants; to make payments to certain restaurants; and to purchase or other products or services, we may require credit or debit card account information. By submitting your credit or debit card account information through our Sites, you expressly consent to the sharing of your information with restaurants, third-party payment processors, and other third-party service providers (including but not limited to vendors who provide fraud detection services to us and other third parties), and you further agree to the following terms.

<br/><br/>


When you use a credit or debit card to secure a reservation through our Sites, we provide your credit or debit card account information (including card number and expiration date, but excluding the CVV number) to our third-party payment service providers and the applicable restaurant.
<br/><br/>

When you initially provide your credit or debit card account information through our Sites in order to use our restaurant payment services, we provide your credit or debit card account information to our third-party payment service providers. As explained in the Zaafoo of Use, these third parties may store your credit or debit card account information so you can use our restaurant payment services through our Sites in the future.
<br/><br/>

For information about the security of your credit or debit card account information, see Section called “Security of Your Personal Information” below.
<br/><br/>

Information You Share Socially

<br/><br/>


Our Sites may allow you to connect and share your actions, comments, content, and information publicly or with friends. Our Sites may also allow you to connect with us on, share on, and use Third-Party Platforms, including those on which Zaafoo has a presence.

<br/><br/>


Please be mindful of your personal privacy needs and the privacy needs of others as you choose whom to connect with and what to share and make public. We cannot control the privacy or security of information you choose to make public or share with others. Zaafoo also does not control the privacy practices of Third-Party Platforms. Please contact those sites and services directly if you want to learn about their privacy practices.

<br/><br/>


Sharing with Others

<br/><br/>


We do not share your personal information with third parties other than as described above and as follows:

<br/><br/>


We may share personal information when you authorize us to share your information with other third parties (such as the restaurants at which you make reservations through our Sites) for their own marketing purposes, which are subject to the separate privacy policies of such third parties.
<br/><br/>

We may share personal information with affiliates, third-party vendors, consultants, and other service providers who work for us. Such third-party vendors may include vendors who provide fraud detection services to us and other third parties.
<br/><br/>

We may share your credit or debit card account information with third parties as described in the section called “Payment Card Information” above.
<br/><br/>

We may share aggregate statistical data for the improvement of services offered by our Sites.
<br/><br/>

We share personal information with third parties who provide services to us, such as data collection, reporting, ad response measurement, and site analytics, as well as assistance with delivery of relevant marketing messages and advertisements. These third parties may view, edit, or set their own cookies. We and our third-party service providers, advertisers, and/or partners may also place web beacons for these third parties. The use of these technologies by these third parties is subject to their own privacy policies and is not covered by this Policy.
<br/><br/>

We may disclose your personal information (i) to comply with laws and to respond to lawful requests and legal process, (ii) to protect the rights and property of Zaafoo, our agents and customers, and others, including to enforce our agreements, policies, and terms of use, and (iii) in an emergency to protect the personal safety of OpenTable, its customers, or any person.
<br/><br/>

We may disclose or transfer your personal information to a third party if we sell, transfer, divest, or disclose all or a portion of our business or assets to another company in connection with or during negotiation of any merger, financing, acquisition, bankruptcy, dissolution, transaction, or proceeding.
<br/><br/>

We may also share aggregated or de-identified information with third parties in our discretion.
<br/><br/>

SECURITY OF YOUR PERSONAL INFORMATION
<br/><br/>



Zaafoo takes reasonable steps to help protect your personal information in an effort to prevent loss, misuse, unauthorized access, disclosure, alteration, and destruction. When your credit or debit card account information is being transmitted to our Sites or through our Sites, it will be protected by encryption technology, such as Secure Sockets Layer (SSL).

<br/><br/>


To be clear, Zaafoo does not itself store your credit or debit card account information, and we do not have direct control over or responsibility for your credit or debit card account information. Our contracts with third parties that receive your credit or debit card account information require them to keep it secure and confidential.

<br/><br/>


Nonetheless, we cannot guarantee that transmissions of your credit or debit card account information or personal information will always be secure or that unauthorized third parties will never be able to defeat the security measures taken by Zaafoo or our third-party service providers. We assume no liability or responsibility for disclosure of your information due to errors in transmission, unauthorized third-party access, or other causes beyond our control. You play an important role in keeping your personal information secure. You should not share your user name, password, or other security information for your Zaafoo account with anyone. If we receive instructions using your user name and password, we will consider that you have authorized the instructions.

<br/><br/>


YOUR INFORMATION CHOICES AND CHANGES

<br/><br/>


You may opt out of receiving promotional emails from Zaafoo by following the instructions in those emails. If you opt out, we may still send you non-promotional emails, such as emails about your Zaafoo account or our ongoing business relations. You may also send requests about your contact preferences or changes to your information, including requests to opt out of sharing your personal information with third parties, to our contact information below.


<br/><br/>

Cookie choices. To exercise choices regarding cookies set through our website, as well as other types of online tracking and Internet advertising, see our Cookies and Interest-Based Advertising Policy.

<br/><br/>


Application location choices. Most mobile devices allow you to turn off location services. For more information about how to do this, please contact your mobile service carrier or your device manufacturer. If you choose to turn off location services, this could affect certain features or services of our Sites.

<br/><br/>




INTERNATIONAL TRANSFERS

<br/><br/>


Information about you may be transferred to, or accessed by, entities located around the world as described in this Policy. Where required, Zaafoo has implemented appropriate cross-border transfer solutions to provide adequate protection for transfers of certain personal information, including, but not limited t


<br/><br/>

*CHANGES TO THIS POLICY


<br/><br/>

Zaafoo may update or revise this Policy from time to time. You agree that you will review this Policy periodically. If we make any changes to this Policy, we will change the “Last Updated” date above. You are free to decide whether or not to accept a modified version of this Policy, but accepting this Policy, as modified, is required for you to continue using our Sites. If you do not agree to the terms of this Policy or any modified version of this Policy, your sole recourse is to terminate your use of our Sites.


    </div></div></div>

{% endblock %}

{% block script_content %}
{% endblock %}