{% extends "zaafoomain/base.html" %}
{% block head_title %}{% endblock %}
{% block content %}

<h1>Profile</h1>


<form method="POST" action="/accounts/profile/" class="" />
    {% csrf_token %}
    {{ form.as_p }}

</form>
<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
  <a href="/editprofile"> Edit </a>
</button>
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
  <a href="/changepassword"> Change Password </a>
</button>


{% endblock %}
{% block script_content %}
{% endblock %}