{% extends "zaafoomain/base.html" %}
 
{% block head_title %}{% endblock %}

{% block content %}
 


<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="mdl-grid" style="margin-left:20px;" id="locas">
<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-phone">
<h1>Please register and confirm email</h1>
 <form   action="/register/" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        {{ form }}
           <!--  <div class="mdl-textfield mdl-js-textfield">
             <input class="mdl-textfield__input" type="text" id="username">
    <label class="mdl-textfield__label" for="username">Username</label>
               
            </div>
        <br/>
      <div class="mdl-textfield mdl-js-textfield">
             <input class="mdl-textfield__input" type="password" id="password">
    <label class="mdl-textfield__label" for="password">password</label>
               
            </div>
            
            <br/> -->
            <br/>
         <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
  register
</button>
                
            
        </form>
</div></div>
{% endblock %}

{% block script_content %}
{% endblock %}