{% extends "zaafoomain/baseres.html" %}
 
{% block head_title %}{% endblock %}

{% block content %}
<script type="text/javascript" src="/static/js/tablebooking.js"></script>
 <div class="mdl-grid" style="margin-left:20px;" id="locas">
<style>
.demo-list-three {
  width: 650px;
}
</style>
<script>
     var time = new Date().getTime();
     $(document.body).bind("mousemove keypress", function(e) {
         time = new Date().getTime();
     });

     function refresh() {
         if(new Date().getTime() - time >= 60000)
             window.location.reload(true);
         else
             setTimeout(refresh, 10000);
     }

     setTimeout(refresh, 10000);
</script>

<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-phone">
<h3>Book Table</h3>
<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-phone">
    <form method="post" action="" class="form-horizontal">
            {% csrf_token %}
            {{ form1}}
            <a class="mdl-button mdl-button--raised mdl-button--accent mdl-button--colored mdl-js-button mdl-js-ripple-effect"  href="#" onclick="menuandtablejsonify();">
      Block
    </a>
  </form>


</div>
 <div class="mdl-select mdl-js-select mdl-select--floating-label">

{#  <label class="mdl-textfield__label" for="sample2">Select number of people</label>#}
        <select class="mdl-select__input"    id="dl_packs" onchange="nopchanged(this)">
        <option>Select number of people</option>
   
        </select>
        </div>
<style type="text/css">
    #layout { height: 1000px; }
    .model-chair, .model-table { fill: #ddd; stroke-width: 2;}
    .model-table:hover { fill: #46ce0d; }
    .model-table.selected { fill: #00c1f2; }
    .model-table.booked { fill: #d40015; }

    .model-chair:hover { fill: #009900; }
    .model-chair.selected { fill: #990000; }
    .model-chair.booked { fill: #00c1f2; }
    svg.layout {
    margin-left: -70px;
    width: 600px;
}
  </style>
{% load mathfilters %}
<div id="layout"></div>
<script type="text/javascript" src="/static/js/bong.layout.min.js"></script>
<script type="text/javascript">
  var models = {
    chair: '<path d="M846 5883 c-22 -44 -65 -107 -102 -149 l-64 -71 0 -173 0 -174 73 ' +
        '-75 c40 -42 86 -92 102 -112 18 -22 60 -52 102 -73 l73 -36 225 0 225 0 0 -75 ' +
        '0 -75 -72 0 c-58 0 -106 -10 -256 -56 -101 -31 -200 -63 -219 -71 -20 -8 -121 ' +
        '-83 -224 -166 l-189 -152 -111 -255 c-62 -140 -120 -282 -130 -315 -10 -33 ' +
        '-43 -219 -75 -413 l-57 -352 62 -358 63 -357 121 -252 121 -253 191 -183 190 ' +
        '-184 115 -28 c63 -15 164 -43 223 -61 79 -25 127 -34 178 -34 l69 0 0 -80 0 ' +
        '-80 -228 0 -227 0 -40 -27 c-22 -15 -44 -32 -50 -39 -5 -6 -33 -27 -61 -45 ' +
        '-28 -19 -83 -69 -123 -113 l-71 -78 0 -177 0 -176 101 -108 c81 -86 115 -115 ' +
        '170 -143 l69 -34 870 0 870 0 68 34 c99 51 147 108 222 264 l64 132 -28 88 ' +
        'c-15 48 -46 129 -68 180 l-41 93 -106 72 -106 72 -197 3 -198 3 0 80 0 79 188 ' +
        '0 c183 0 191 1 278 30 63 22 121 52 199 104 l111 73 71 134 c98 185 122 286 ' +
        '130 561 l6 198 79 0 78 0 0 -192 c-1 -170 -5 -217 -33 -394 l-33 -201 41 -135 ' +
          'c41 -134 42 -136 111 -212 l69 -76 113 -37 112 -37 78 38 c139 69 160 93 263 ' +
        '305 l91 186 29 280 c52 503 89 1055 89 1319 0 213 -3 266 -30 455 -22 158 -30 ' +
        '251 -30 361 0 123 -5 170 -29 291 -17 79 -44 184 -60 233 -42 121 -119 208 ' +
        '-266 300 l-105 66 -120 0 -120 0 -77 -81 -78 -81 -37 -132 c-36 -122 -38 -140 ' +
        '-38 -266 0 -120 4 -146 30 -235 28 -95 30 -109 30 -287 l0 -188 -83 0 -83 0 4 ' +
        '188 c4 163 1 197 -16 267 -38 151 -57 201 -122 319 l-65 119 -101 68 c-56 37 ' +
        '-142 84 -190 104 l-89 36 -197 6 -198 6 0 74 0 73 183 0 183 0 90 44 c60 30 ' +
        '99 57 120 83 45 55 96 162 135 280 l33 102 -104 215 -104 216 -1011 0 -1011 0 ' +
        '-38 -77z"/>',
    table_round: '<circle cx="50" cy="50" r="40" />',
    table_square: '<rect width="40" height="40"/>'
  }

  function chairClick(event, target){
    var target = target ? target : this,
      cssClass = target.getAttribute("class");
    if(cssClass.indexOf("selected") == -1){
      target.setAttribute("class", cssClass + " selected");
    } else {
      target.setAttribute("class", cssClass.substr(0, cssClass.indexOf("selected")));
    }


    
  }
  var ntchosen=0;
var bookedtables=[]
  function tableClick(event, target){
    var target = target ? target : this,
      cssClass = target.getAttribute("class"),
      chairs = target.getAttribute("data-chairs").split(",");
      
   if(cssClass.indexOf("booked")==-1) {

       if (cssClass.indexOf("selected") == -1) {


           if(ntchosen==getTable(target.getAttribute("table-id")).capacity) {
               selectTable(target.getAttribute("table-id"));


               ntchosen=0;
           }
       } else {
           if(ntchosen==0) {
               unselecttable(target.getAttribute("table-id"));
               ntchosen=getTable(target.getAttribute("table-id")).capacity;



           }
       }
   }
   }

  function getElementsByAttributeValue(attribute, value){
    var matchingElements = [];
    var allElements = document.getElementsByTagName('*');
    for (var i = 0, n = allElements.length; i < n; i++) {
      if (allElements[i].getAttribute(attribute) == value){
        // Element exists with attribute. Add to array.
        matchingElements.push(allElements[i]);
      }
    }
    return matchingElements;
  }
   var alltable=[];
  var layout = new Layout({
    wrapper_id : "layout",
    afterRender: function(){
      document.getElementsByTagName("svg")[0].setAttribute("style","transform: scale(0.8, 0.8)");
    },
    map: [{
      model: "<polygon points='{{flp}}' class='floor'></polygon>"
    }
    {% with count=1%}
{% for tabx in tabls%},
    {
      {% with x=tabx.x|mul:100 y=tabx.y|mul:100 %}
      model: models.chair,
      transform: {
        scale: { x: 0.005, y: 0.005 },
      },
      transforms: [{% if tabx.personstosit == 4 %}{
          translate: { x: {{x|add:35}}, y: {{y|add:40}} },
          rotate: { x: 90, y: 90, z: 0 }
        },{% endif %} {
          translate: { x: {{x|sub:05}}, y: {{y|add:35}} },
          rotate: { x: 180, y: 270, z: 0 }
        }, {% if tabx.personstosit == 4 %}{
          translate: { x: {{x|add:5}}, y: {{y}} },
          rotate: { x: 270, y: 0, z: 0 }
        },{% endif %}  {
          translate: { x: {{x|add:45}}, y: {{y|add:5}} },
          rotate: { x: 0, y: 0, z: 0 }
        },

      ],
      event: {
        click: chairClick
      },
      class: "model-chair",
      dom_attributes: [
{% for foo in tabx.chairs %}
        { "data-index": {{foo.chairno}}, "data-special": "ok" },
          {% endfor %}
        //{ "data-index": 5, "data-special": "ok" }
      ]
    },{
      model: models.table_square,
      transforms: [{
        translate: { x: {{x}}, y: {{y}} }
      }],
      events: [{
        click: tableClick
      }],
      "class": "model-table",
      dom_attributes: [
        { "data-chairs": "{% for foo in tabx.chairs %}{{foo.chairno}},{% endfor %}","table-id":"{{ tabx.id }}" }
      ],
    }


    {% endwith %}

{%endfor%}
{% endwith %}



    ]
  });
  
 var xlayout=document.getElementsByClassName("model-table");
 
for(count=0;count<xlayout.length;count++)
{
    chairs = xlayout[count].getAttribute("data-chairs").split(",");
    addTable(parseInt(xlayout[count].getAttribute("table-id")),false,false,chairs.length-1,xlayout[count]);
//     var newText = document.createElementNS("http://www.w3.org/2000/svg","text");
// newText.setAttributeNS(null,"x",2);     
// newText.setAttributeNS(null,"y",20); 
// newText.setAttributeNS(null,"font-size","10");
// newText.setAttributeNS(null,"fill","black");
// var textNode = document.createTextNode("Hellp");
// newText.appendChild(textNode);
// xlayout[count].appendChild(newText);   
}
 var svglayout=document.getElementById("layout").firstChild.firstChild;
var newText="";
{% for txt in floortext%}
 newText = document.createElementNS("http://www.w3.org/2000/svg","text");
newText.setAttributeNS(null,"x",{{txt.x|mul:100}});     
newText.setAttributeNS(null,"y",{{txt.y|mul:100}}); 
newText.setAttributeNS(null,"font-size","14");
newText.setAttributeNS(null,"fill","black");
newText.setAttributeNS(null,"transform","rotate({{txt.degree}},{{txt.x|mul:100}},{{txt.y|mul:100}})");

var textNode = document.createTextNode("{{txt.txt}}");
newText.appendChild(textNode);
svglayout.appendChild(newText);
{%endfor%}

  var count;
var emptychairs=0;
  var allchairs=0;
  var bookedchairs=0;
  {% for tabbook in tablbook %}

bookTable({{ tabbook.id }});
  {% endfor %}
emptychairs=getemptychairs();
  var dlpks=document.getElementById("dl_packs");

for(var i=1;i<=emptychairs;i++)
{
    var option = document.createElement("option");
    option.text = i;
    option.value = i;
    dlpks.add(option);
}
function nopchanged(sel) {
    ntchosen=0;


    filltable(sel.value);

}
var tempsvgx="";
var newTex="";
var textNode="";
{% for tabs in tabls %}
tempsvgx=getTable({{tabs.id}}).dom;
newText = document.createElementNS("http://www.w3.org/2000/svg","text");
newText.setAttributeNS(null,"x",20);     
newText.setAttributeNS(null,"y",30); 
newText.setAttributeNS(null,"font-size","20");
newText.setAttributeNS(null,"fill","black");
textNode = document.createTextNode("{{tabs.restauranttableno}}");
newText.appendChild(textNode);
tempsvgx.appendChild(newText);   
{%endfor%}
</script>


 </div>


     <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">

 <h5>Pick a date and time</h5>


      <input class="form-control text-box single-line" data-val="true" data-val-date="The field Quando must be a date." data-val-required="The Quando field is required." id="ExecutionDate" name="ExecutionDate" placeholder="Quando" value="15/03/2015 22.26" type="datetime-local" oninput="datesReaction()" onchange="fetchtables()">
<script>


    ExecutionDate.value= new Date(Date.now()+(1000*60*60*5)+(1000*60*45)).toISOString().slice(0, 16);

        ExecutionDate.min= new Date(Date.now()+(1000*60*60*5)+(1000*60*45)).toISOString().slice(0, 16);
$(document).ready(function(){
    function getCookie(c_name) {
        if(document.cookie.length > 0) {
            c_start = document.cookie.indexOf(c_name + "=");
            if(c_start != -1) {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if(c_end == -1) c_end = document.cookie.length;
                return unescape(document.cookie.substring(c_start,c_end));
            }
        }
        return "";
    }

    $(function () {
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": getCookie("csrftoken")
            }
        });
    });
});
        function fetchtables() {


$.ajax({
        url: "http://zaafoo.com/fetchRestaurantBookings/",
        data: {
            datetime: ExecutionDate.value,
            restid:{{ resid }}
        },
        type: 'POST',
        error: function(xhr, error){
        console.debug(xhr); console.debug(error);
 },
        success: function(data){
            ntchosen=0;
            bookedchairs=0;
            emptychairs=0;
   
            clearTablefields();           for(var k=0;k<data.bookedtables.length;k++)
            {
                
                bookTable(data.bookedtables[k].id);

            
            }
        emptychairs=getemptychairs();
        selelm=document.getElementById("dl_packs");
        selelm.selectedIndex = 0;
var length = selelm.options.length;
for (i = 1; i < length; i++) {
  selelm.remove(i);
}
   option = document.createElement("option");
    option.text = "Select number of people";
    option.value = "Whatever";
    selelm.add(option);

for(var i=1;i<=emptychairs;i++)
{
    option = document.createElement("option");
    option.text = i;
    option.value = i;
    selelm.add(option);
}

        }
    });}
function datesReaction () {

}
var jsnlis;
function  menuandtablejsonify()
{
    var bookedtables=getchosentables();
    if(bookedtables.length==0)
    {
        alert('Select at number of people');
        return;
    }
    var bookt="{'tablnos':[";
  var menusstring="{'menus':[";
    
    for(var j=0;j<bookedtables.length;j++)
    {
        bookt=bookt+"{\'tableid\':"+bookedtables[j].tableid+"}";
        if(!(j==(bookedtables.length-1))){
            bookt=bookt+',';
        }
        else {
            bookt=bookt+']}';
        }

    }
      var dl_packs=document.getElementById("dl_packs");
      
      var json = JSON.stringify(eval("(" + bookt + ")"));
      var hiddn=document.getElementById("id_rideschoices");
      hiddn.value=json;
      var foms=document.getElementsByTagName("form")[0];
      foms.submit();
  }
  

</script>
 </div>

</div>


{% endblock %}

{% block script_content %}
{% endblock %}