{% extends "zaafoomain/base.html" %}
 {% load mathfilters %}
{% block head_title %}Book a Reastaurant{% endblock %}

{% block content %}


<div class="mdl-grid" style="margin-left:20px;" id="locas">
<style>
.demo-list-three {
  width: 650px;
}
</style>

<div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-phone">

<h1>Preordered</h1>
<table class="mdl-data-table mdl-js-data-table">
  <thead>
    <tr>
           <th class="mdl-data-table__cell--non-numeric">ID</th>
      <th class="mdl-data-table__cell--non-numeric">Customer</th>
      <th>FoodTotal</th>
      <th>Tax</th>
      <th>  Total</th>
    </tr>
  </thead>
  <tbody>
  {% for x in book %}
    <tr {%if x.new is False %}style="background-color: #84ffff" {% endif %}>
    <td class="mdl-data-table__cell--non-numeric"><a href="/resbill/{{x.Booking.id}}">Detailed Bill</a></td>
      <td class="mdl-data-table__cell--non-numeric">{{x.Booking.customer}}</td>
      <td>{{x.Booking.foodtotal}}</td>
      <td>₹{{x.Booking.tax}}</td>
      <td>₹{{x.Booking.total}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>

{% endblock %}

{% block script_content %}
{% endblock %}