{% extends "zaafoomain/base.html" %}
 
{% block head_title %}Feedbacks{% endblock %}

{% block content %}
<style>
.demo-card-wide.mdl-card {
  width: 400px;
}
.demo-card-wide > .mdl-card__title {
  color:#FF1493 ;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  height: 176px;
  
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
</style>

      <div class="mdl-grid" style="margin-left:20px;" id="locas">
     
<div class="mdl-cell mdl-cell--12-col ">
<!-- Three Line List with secondary info and action -->
<style>
    .mdl-textfield{
    width:100%;
}
.demo-list-three {
  width: 100%;
    alignment: center;
}
    .numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 80px;
    height: 80px;
    padding: 8px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    align-content: center;
    font: 32px Arial, sans-serif;
}

#id1,#id2,#id3,#id4{
color:#ffffff;
}
</style>
<h3 id="id1">Restaurant Ratings and Feedback  </h3>
    <div class="numberCircle" align="center" >{{ rank }}</div>

<ul class="demo-list-three mdl-list" id="id2">
    {% for cusf in feedbacks %}

  <li class="mdl-list__item mdl-list__item--three-line" >
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>{{ cusf.customer.first_name }} : {{ cusf.title }} </span>
      <span class="mdl-list__item-text-body" >
          {{ cusf.description }}
      </span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" href="#">
          {% with ''|center:cusf.rating as range %}
{% for _ in range %}
    <i class="material-icons">star</i>
{% endfor %}
{% endwith %}
          </a>
    </span>
  </li>
    {% endfor %}
 </ul>

    </div>


</div>
{% endblock %}

{% block script_content %}
{% endblock %}