﻿{% extends "zaafoomain/base.html" %}

{% block head_title %}Terms of Service{% endblock %}

{% block content %}
  <div id='page'>
 <h1>Zaafoo Terms of Use</h1>

      <b>Zaafoo Terms of Use</b>

<div class="mdl-grid" style="margin-left:20px;" id="locas">
      <div class="mdl-cell mdl-cell--10-col mdl-cell--8-col-phone">

These Zaafoo Terms of Use (this “Agreement”) apply to your use of (1) the Zaafoo website at http://www.zaafoo.com and all related websites owned and operated solely by Zaafoo (collectively, the “Zaafoo Site”), (2) the restaurant reservation services made available by Zaafoo through the Zaafoo Site, any Zaafoo -branded application for your mobile or other device (collectively, the “Zaafoo Application”), and any other online properties of Zaafoo or third parties, as described in Part I below (the “Reservation Services”), (3) the payment services made available by Zaafoo through the Zaafoo Application as described in Part II below (the “Payment Services”), (4) gift card purchases and related services provided by Zaafoo as described in Part III below, (5) any Zaafoo Application, and (6) any other services or features made available by Zaafoo through the Zaafoo Site or any Zaafoo Application. Together, the items in (1) through (6) are the “Services”.

In this Agreement, “Zaafoo” and “we” mean Zaafoo, Inc., and “User” and “you” mean any user of the Services. This Agreement incorporates Zaafoo standard policies, procedures, and terms and conditions for use of the Services that are referenced by name or by links in this Agreement (collectively, the “Zaafoo Policies”).

By accessing or using the Services or clicking “accept” or “agree” to this Agreement, (1) you acknowledge that you have read, understand, and agree to be bound by this Agreement, and (2) you represent and warrant that you are of legal age and not prohibited by law from accessing or using the Services (including, if applicable, purchasing, giving, using, or redeeming any Zaafoo Gift Card (as defined below) or Merchant Gift Card (as defined below)). THIS AGREEMENT CONTAINS, AMONG OTHER THINGS, AN ARBITRATION PROVISION CONTAINING A CLASS ACTION WAIVER.

Zaafoo may update or revise this Agreement (including any Zaafoo Polices) from time to time. You agree that you will review this Agreement periodically. You are free to decide whether or not to accept a modified version of this Agreement, but accepting this Agreement, as modified, is required for you to continue using the Services. You may have to click “accept” or “agree” to show your acceptance of any modified version of this Agreement. If you do not agree to the terms of this Agreement or any modified version of this Agreement, your sole recourse is to terminate your use of the Services, in which case you will no longer have access to your Account (as defined below). Except as otherwise expressly stated by Zaafoo, any use of the Services (e.g., the use of the Reservation Services or the Payment Services or the purchase of an Zaafoo Gift Card) is subject to the version of this Agreement in effect at the time of use.
<br>
Part I - Reservation Services
<br>
1.  Restaurant Reservations. Zaafoo provides the Reservation Services to User for the purpose of assisting User in securing dining reservations at participating third-party restaurants (each, a “Restaurant”). In response to a User’s online request for a Restaurant reservation through the Zaafoo Site or Zaafoo Application, Zaafoo directly contacts the Restaurant’s computerized database of reservations. The availability of reservations is determined at the time of User’s query. Once a reservation is made by User through the Zaafoo Site or Zaafoo Application, Zaafoo will provide confirmation of the reservation to User by mailer message. By using the Reservation Services, User agrees to receive reservation confirmations by email or messages after booking a reservation through the Reservation Services.
<br>
2.  No-Show Policy. Zaafoo is committed to providing superior quality services to Users and Restaurants. To assist us in maintaining a consistently high level of service for the Restaurants and their patrons, Users must cancel any reservations that they will be unable to honor at least 30 minutes in advance of the reservation. You may cancel your reservation via the Zaafoo Site or Zaafoo Application or by calling the Restaurant directly. Some Restaurants may require a debit or credit card number to finalize your reservation. In order to use the Reservation Services for these Restaurants, you must provide valid debit or credit card information. To confirm that the debit or credit card information you have provided is accurate, we may place a temporary authorization on your debit or credit card at the time you provide your debit or credit card information. After we verify that your debit or credit card information is accurate, usually within a few days, the authorization will be removed. You may be required to cancel your reservation in accordance with the Restaurant’s cancellation policy, which is disclosed at the time the reservation is made. Zaafoo uses this debit or credit card information as described in our privacy policy and shall have no liability for any charges made to the debit or credit card account for any failure to cancel your reservation in accordance with a Restaurant’s cancellation policy.
<br>
If you are unable to keep your reservation and you fail to cancel at least 30 minutes in advance of the reservation, Zaafoo will send you an email letting you know that our records indicate that you were a no-show. By using the Reservation Services, User agrees to receive no-show notifications by email after a report that your reservation was not honored, whether or not that was in fact the case. Your Account will be terminated if you are a no-show for four reservations within a 12-month period. If you receive a no-show notification email in error. User agrees that all final no-show determinations will be made by Zaafoo in its sole discretion.
<br>
3.  Usage Guidelines. User agrees to use the Reservation Services only to book reservations at Restaurants and then honour those reservations by arriving at the Restaurants on time and ordering and paying for meals. User further agrees not to book more than one reservation for User’s personal use during any one meal time (e.g., lunch, dinner, etc.). User may be able to book multiple reservations through Zaafoo Administrative Assistant and/or Concierge programs. Resale or attempted resale of reservations is prohibited and is grounds for, among other things, cancellation of your reservations or termination of your access to the Services.
<br>
Payment Services
<br>
4. General Description and Requirements. The Payment Services allow Users to pay bills at participating Restaurants through the Zaafoo Application. In order to use the Payment Services at a participating Restaurant, you must: (1) install the Zaafoo Application on a compatible mobile device; (2) make a reservation for the Restaurant through the Reservation Services; (3) provide valid payment method information through or to the Zaafoo Application as further described below; (4) provide and verify your mobile phone number as further described below; and (5) have an Account in good standing. The Payment Services may not be available for all Restaurants; for a list of participating Restaurants, please visit the Zaafoo or Zaafoo Application. There is no fee to you to use the Payment Services, but your mobile carrier’s standard text message and data charges may apply; you are responsible for any fees charged by your mobile carrier in connection with your use of the Payment Services and Zaafoo Application.
<br>
5. Payment Method Information. In order to use the Payment Services, you must provide account information for at least one valid debit or credit card or other payment method through or to the Zaafoo Application. Zaafoo uses this payment method account information as described in our privacy policy. If you provide account information for a debit or credit card to the Zaafoo Application via a third party, your provision of such debit or credit card shall also be subject to the terms and conditions specified by such third party. Zaafoo takes no responsibility and assumes no liability for any actions or omissions of such third party. You may add, delete, and edit the payment method account information you have provided from time to time directly through the Zaafoo Application. If you provide account information in such manner for more than one valid debit or credit card, you must select which debit or credit card you want to use to pay your Restaurant bill.
<br>
To confirm that the payment method information you have provided through or to the Zaafoo Application is accurate, we may place a temporary authorization on your payment method at the time you provide your payment method information through or to the Zaafoo Application or when you make a reservation and opt in to use the Payment Services. After we verify that your payment method information is accurate, usually within a few days, the authorization will be removed.
<br>
To the extent permitted by applicable law and subject to our privacy policy, you acknowledge and agree that we may use certain third-party vendors and service providers to process payments, manage debit and credit card information and detect and prevent fraud.
<br>
By providing debit or credit card account information through or to the Zaafoo Application, you represent, warrant, and covenant that: (1) you are legally authorized to provide such information to us; (2) you are legally authorized to perform payments from the debit or credit card account(s); and (3) such action does not violate the terms and conditions applicable to your use of such debit or credit card account(s) or applicable law. When you authorize a payment using a debit or credit card account via the Zaafoo Application, you represent, warrant, and covenant that there are sufficient funds or credit available to complete a payment using the debit or credit card account.
<br>
6. Verified Mobile Phone Number. In order to use the Payment Services, you must provide a valid mobile phone number through the Zaafoo Application and verify such number as instructed by us. To verify your mobile phone number, we will send you a code via text message to the mobile phone number you provided, and you must enter that code as instructed in the Zaafoo Application. If you change your mobile phone number, you must promptly provide and verify your new mobile phone number. When you provide your mobile phone number, you expressly consent to receive direct dial calls, autodialed and prerecorded message calls, and text messages relating to the Payment Services at that number.
<br>
7. Account Settings. You may establish certain default settings for your use of the Payment Services through the Zaafoo Application, such as your preferred payment card account if you provided debit or credit card information directly through the Zaafoo Application. You may change these settings through the Zaafoo Application.
<br>
8. Payment Authorization and Settlement. After you place an order at a participating Restaurant, you may indicate through the Zaafoo Application that you intend to pay your Restaurant bill using the Payment Services. You may review your bill and select the gratuity from certain options through the Zaafoo Application; provided, however, in lieu of the gratuity you set, a minimum gratuity may be added in accordance with the restaurant’s gratuity policies. When you indicate through the Zaafoo Application that you intend to pay your Restaurant bill using the Payment Services, you authorize the Restaurant to charge your debit or credit card for the full amount of your final bill, which may include among other things a gratuity based on your selection or minimum gratuity, if any, charged by the restaurant, any applicable taxes, surcharges or fees and may include adjustments for any errors or omissions. You may only use the Payment Services to pay the full amount of the bill; no split checks or partial payments are permitted. This Agreement does not alter your payment obligations to Restaurants; you are responsible for timely payment of all amounts owed by you to any Restaurant. Depending on your payment method, you may be subject to certain minimum charges. Except to the extent otherwise required by applicable law, Zaafoo is not responsible or liable for any payments authorized through the Zaafoo Application using your payment method information.
<br>
9  Receipts and Transaction History. As a courtesy, we will email a receipt to the email address associated with your Account upon completion of a transaction using the Payment Services. You may print and save copies of these receipts. If you would like a paper receipt, you must request one from the Restaurant at the time of the transaction.
<br>
10.  Certain Limitations. You acknowledge and agree that Zaafoo provides the Payment Services only as a convenience and is not a party to your payment transactions performed using the Payment Services. Zaafoo is an independent contractor for all purposes and is not your agent or trustee.Zaafoo is not responsible, and has no liability for, the products or services that are paid for with the Payment Services. Zaafoo is not responsible for any overcharges or other payment disputes with Restaurants. Users must resolve payment and other disputes directly with Restaurants.
<br>
Zaafoo is not liable for any payments that the Payment Services do not complete because: (1) your debit or credit card account does not contain sufficient funds to complete the transaction or the transaction would exceed the credit limit or overdraft protection of the debit or credit card account; (2) you have not provided us with correct payment account information; (3) your debit or credit card has expired; or (4) circumstances beyond our control (such as, but not limited to, power outages, interruptions of cellular service, or any other interferences from an outside force) prevent the execution of the transaction. To the extent that any amounts owed cannot be collected from your debit or credit card account through the Payment Services, you are solely responsible for paying the applicable Restaurant(s) by other means.
<br>


 Terms for All Services
<br>
11. Privacy Policy. Zaafoo is committed to helping you safeguard your privacy online. Please review our privacy for details about how we collect, use, and disclose information in connection with the Services.
<br>
12. Your Account. You may (but are not required to) create an account with Zaafoo through the Zaafoo Site or Zaafoo Application (“Account”) in order to use the Reservation Services or to purchase, gift, or redeem (as applicable) You also agree to promptly update the Registration Data to keep it true, accurate, current, and complete. You are solely responsible for maintaining the confidentiality of your Account and the information in your Account, and, except as otherwise required by applicable law, you are solely responsible for all use of your Account, whether or not authorized by you. You agree to immediately notify Zaafoo of any unauthorized use of your Account or any other breach of security related to your use of the Services.
<br>
13. Communications from Zaafoo. The Zaafoo Application may use GPS locator capabilities to identify your current location. If you provide a mobile phone number, you hereby expressly consent to receive SMS text messages from Zaafoo regarding the Services and as otherwise described in our privacy policy. The communication standards for the Services include, but are not limited to: SMS, GPS, and web-based browser technology. In order to use the SMS-based Services, you must maintain an active account with a carrier of electronic communications through mobile devices and you may not use a prepaid cellular phone to access the Services.
<br>
14. Technical Requirements. Use of the Services requires Internet access through your computer or mobile device. You are responsible for all mobile carrier charges resulting from your use of the Services, including from any notifications provided by the Services. Zaafoo does not guaranteed that the Services will be compatible with all devices or will be supported by all mobile carriers. You may be required to have JavaScript (or similar technologies) enabled to use the Zaafoo Site, and some features and portions of the Zaafoo Site (including, but not limited to, making, modifying, or canceling reservations) may not be accessible with JavaScript disabled.
<br>
15. Modifications to Services. Zaafoo reserves the right, in its sole discretion, to modify the Services from time to time and without notice, including, without limitation, by removing, adding, or modifying portions of the Zaafoo Site, Zaafoo Application, Restaurants, and/or Merchants. Zaafoo shall have no liability to you for any of the foregoing actions. If you object to any such changes, your sole recourse shall be to cease using the Services. Continued use of the Services following any such changes shall indicate your acknowledgment of such changes and satisfaction with all the Services.
<br>
16. Intellectual Property Rights and Grant of Rights to User. The features, information, and materials provided and depicted through the Services are protected by copyright, trademark, patent, and other intellectual property laws. All text, graphical content, video, data, and other content made available through the Services (collectively, the “Zaafoo Content”) are provided to User by Zaafoo or its partners or licensors solely to support User’s permitted use of the Services. The Zaafoo Content may be modified from time to time by Zaafoo in its sole discretion. Except as expressly set forth herein, no license is granted to User for any other purpose, and any other use of the Services or the Zaafoo Content by User shall constitute a material breach of this Agreement. Zaafoo and its partners or licensors retain all rights in the Services and Zaafoo Content and any associated patents, trademarks, copyrights, mask work rights, trade secrets, or other intellectual property rights. No license, right, or interest in any trademarks of Zaafoo or any third party is granted under this Agreement.
<br>
17. Application License. Subject to the terms and conditions of this Agreement, Zaafoo grants User a non-exclusive, non-transferable, revocable license to use the Zaafoo Application, in object code form only, on User’s compatible mobile devices, solely to support User’s permitted use of the Services.
<br>
18. Use Restrictions. The Services and Zaafoo are offered solely for User’s personal use for the purposes described in this Agreement. Any and all other uses are prohibited. Zaafoo expressly reserves all its rights and remedies under applicable state and federal laws. Zaafoo reserves the right, in its sole discretion, to refuse service, terminate Accounts, remove or edit content, cancel reservations, or deny access to the Services. You agree not to (and not to allow any third party to): (1) use any deep-link, robot, spider, scraper, or other automatic or manual device, process, or means to access, copy, search, or monitor any portion of the Services or Zaafoo Content, except as expressly authorized by Zaafoo; (2) take any action that imposes or may impose (in Zaafoo’s sole determination) an unreasonable or a disproportionately large load on the Services or Zaafoo infrastructure; (3) utilize any device, software, or routine that will interfere or attempt to interfere with the functionality of the Services; (4) rent, lease, copy, provide access to or sublicense any portion of the Services or Zaafoo Content to a third party; (5) use any portion of the Services or Zaafoo Content to provide, or incorporate any portion of the Services or Zaafoo Content into, any product or service provided to a third party; (6) reverse engineer, decompile, disassemble, or otherwise seek to obtain the source code or non-public APIs to the Services, except to the extent expressly permitted by applicable law (and then only upon advance notice to Zaafoo); (7) modify any Services or Zaafoo Content or create any derivative product from any of the foregoing; (8) remove or obscure any proprietary or other notices contained in the Services or Zaafoo Content; (9) use the Services or Zaafoo Content for any illegal purpose; or (10) publicly disseminate information regarding the performance of the Services or Zaafoo Content or access or use the Services or Zaafoo Content for competitive analysis or benchmarking purposes.
<br>
19. Reviews, Comments, Communications, and Other Content. The Services may permit you to submit reviews, comments, and ratings; send emails and other communications; and submit suggestions, ideas, comments, questions, or other information for publication and distribution to restaurants and other third parties (“User Content”). Any such User Content must not be illegal, threatening, obscene, racist, defamatory, libelous, pornographic, infringing of intellectual property rights, promoting of illegal activity or harm to groups and/or individuals, invasive of privacy, purposely false or otherwise injurious to third parties, or objectionable and must not consist of or contain software, computer viruses, commercial solicitation, political campaigning, chain letters, mass mailings, any form of “spam” or references to illegal activity, malpractice, purposeful overcharging, false advertising, or health code violations (e.g., foreign objects in food, food poisoning, etc.). Your User Content should be unbiased and objective. You may not submit reviews, comments or ratings of your own restaurant, or any restaurant of your employer, friend, relative or a competitor. You may not use a false email address, impersonate any person or entity, or otherwise mislead as to the origin of User Content. Zaafoo reserves the right (but has no obligation) to monitor, remove, or edit User Content in Zaafoo sole discretion, including if User Content violates this Agreement (including any Zaafoo Policies), but you acknowledge that Zaafoo may not regularly review submitted User Content. If you do submit User Content, and unless we indicate otherwise, you grant Zaafoo a nonexclusive, perpetual, royalty-free, irrevocable, and fully sublicensable (through multiple tiers) right to use, modify, reproduce, adapt, translate, publish, create derivative works from, distribute, display, and otherwise exploit such User Content throughout the world in any media. Zaafoo takes no responsibility and assumes no liability for any User Content submitted by you or any other User or third party.
<br>
20. Your Representations and Indemnity. You represent and warrant that you own or otherwise control all of the rights to any User Content submitted by you; that all User Content submitted by you is accurate; and that exploitation of such User Content by Zaafoo and its other Users, partners, and licensees will not violate this Agreement, cause injury to any person or entity, or infringe any third-party rights (including, without limitation, intellectual property rights and rights of privacy or publicity). You will indemnify, hold harmless, and (at Zaafoo’s request) defend Zaafoo, its affiliates, and its and their representatives, agents, directors, managers, officers, employees, and shareholders (collectively, the “Zaafoo Parties”) from and against all claims resulting from (1) any User Content submitted by you, (2) your use of the Services, or (3) any breach or alleged breach by you of this Agreement.
<br>
21. Liability Limitations. TO THE MAXIMUM EXTENT PERMITTED BY LAW, EXCEPT AS EXPRESSLY SPECIFIED BELOW WITH RESPECT TO ZAAFOO IN NO EVENT SHALL THE ZAAFOO PARTIES BE LIABLE FOR ANY INJURIES, LOSSES, CLAIMS, OR DIRECT DAMAGES OR ANY SPECIAL, EXEMPLARY, PUNITIVE, INCIDENTAL, OR CONSEQUENTIAL DAMAGES OF ANY KIND, WHETHER BASED IN CONTRACT, TORT, OR OTHERWISE, AND EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, WHICH ARISE OUT OF OR ARE ANY WAY CONNECTED WITH (1) THIS AGREEMENT, (2) ANY USE OF THE SERVICES, THE ZAAFOO CONTENT, OR THE USER CONTENT, (3) ANY FAILURE OR DELAY (INCLUDING, BUT NOT LIMITED TO, THE USE OR INABILITY TO USE ANY COMPONENT OF THE RESERVATION SERVICES OR PAYMENT SERVICES), OR (4) YOUR VISIT TO ANY RESTAURANT OR THE PERFORMANCE, NON-PERFORMANCE, CONDUCT, OR POLICIES OF ANY RESTAURANT OR MERCHANT IN CONNECTION WITH THE SERVICES. IN ADDITION, YOU SPECIFICALLY UNDERSTAND AND AGREE THAT ANY THIRD PARTY DIRECTING YOU TO THE ZAAFOO SITE BY REFERRAL, LINK, OR ANY OTHER MEANS IS NOT LIABLE TO USER FOR ANY REASON WHATSOEVER, INCLUDING, BUT NOT LIMITED TO, DAMAGES OR LOSS ASSOCIATED WITH THE USE OF THE SERVICES OR THE ZAAFOO CONTENT. ZAAFOO IS NEITHER AN AGENT OF NOR OTHERWISE ASSOCIATED WITH ANY RESTAURANT FOR WHICH A USER HAS MADE A RESERVATION OR PAID A BILL USING THE PAYMENT SERVICES OR ANY MERCHANT .
<br>
You and Zaafoo understand and agree that the disclaimers, exclusions, and limitations in this Section 33 and in Section 34 are essential elements of this Agreement and that they represent a reasonable allocation of risk. In particular, you understand that Zaafoo would be unable to make the Services available to you except on these terms and agree that this Agreement will survive and apply even if any limited remedy specified in this Agreement is found to have failed of its essential purpose.
<br>
22. Links to Third-Party Websites. The Services may contain hypertext links to websites operated by parties other than Zaafoo. Such hypertext links are provided for User’s reference only, and Zaafoo does not control such websites and is not responsible for their content. Zaafoo inclusion of any hypertext links to such websites does not imply any endorsement of the material on such websites or any association with their operators. Zaafoo assumes no liability whatsoever for any such third-party websites or any content, features, products, or services made available through such third-party websites.
      </div></div></div>

{% endblock %}

{% block script_content %}
{% endblock %}